In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('eventlog_large.csv', sep=';')
df.head()

   Case_ID Activity User            Timestamp
0        1        a   u2  2016-04-15 08:41:28
1        1        b   u3  2016-04-18 12:55:01
2        2        a   u2  2016-04-18 20:40:14
3        1        d   u5  2016-04-19 07:22:59
4        2        b   u4  2016-04-21 22:42:39

In [3]:
df_sort = df.copy()
df_sort = df_sort.sort_values(by=['Case_ID', 'Timestamp'], ascending=True)
df_sort.head()

   Case_ID Activity User            Timestamp
0        1        a   u2  2016-04-15 08:41:28
1        1        b   u3  2016-04-18 12:55:01
3        1        d   u5  2016-04-19 07:22:59
5        1        e   u7  2016-04-23 15:06:58
7        1        f   u7  2016-04-24 19:18:32

In [4]:
df_sort['Count'] = df_sort.groupby('Case_ID').cumcount()+1
df_sort

       Case_ID Activity User            Timestamp  Count
0            1        a   u2  2016-04-15 08:41:28      1
1            1        b   u3  2016-04-18 12:55:01      2
3            1        d   u5  2016-04-19 07:22:59      3
5            1        e   u7  2016-04-23 15:06:58      4
7            1        f   u7  2016-04-24 19:18:32      5
8            1        g   u5  2016-04-25 14:56:42      6
10           1        h   u2  2016-04-26 10:00:36      7
2            2        a   u2  2016-04-18 20:40:14      1
4            2        b   u4  2016-04-21 22:42:39      2
6            2        d   u6  2016-04-24 01:29:27      3
9            2        g   u5  2016-04-25 22:36:27      4
12           2        e   u7  2016-04-27 16:12:28      5
14           2        f   u7  2016-04-28 15:00:35      6
18           2        h   u1  2016-05-01 18:32:18      7
11           3        a   u2  2016-04-27 01:45:07      1
13           3        b   u3  2016-04-27 21:50:32      2
15           3        d   u5  2016-04-29 00:12:15      3
16           3        g   u5  2016-04-29 16:24:46      4
17           3        e   u8  2016-04-30 22:57:03      5
19           3        f   u8  2016-05-02 01:33:30      6
21           3        h   u2  2016-05-02 11:06:53      7
20           4        a   u1  2016-05-02 08:38:34      1
22           4        b   u3  2016-05-06 00:50:31      2
23           4        d   u5  2016-05-06 17:56:11      3
29           4        g   u5  2016-05-13 10:34:23      4
30           4        e   u7  2016-05-13 13:56:10      5
32           4        f   u8  2016-05-14 23:42:03      6
34           4        h   u1  2016-05-17 14:02:28      7
25           5        a   u1  2016-05-09 07:17:12      1
26           5        b   u3  2016-05-10 06:29:42      2
...        ...      ...  ...                  ...    ...
45341     7545        b   u3  2120-06-25 11:13:57      2
45342     7545        d   u5  2120-06-26 00:22:29      3
45348     7545        e   u7  2120-06-28 04:06:45      4
45349     7545        f   u7  2120-06-28 22:15:25      5
45350     7545        g   u6  2120-06-28 22:55:12      6
45356     7545        h   u1  2120-07-02 01:29:52      7
45354     7546        a   u2  2120-07-01 11:45:11      1
45355     7546        b   u3  2120-07-02 00:35:36      2
45357     7546        d   u6  2120-07-03 22:47:22      3
45359     7546        e   u8  2120-07-04 21:58:41      4
45360     7546        f   u7  2120-07-05 03:37:20      5
45365     7546        g   u6  2120-07-09 10:36:39      6
45367     7546        h   u2  2120-07-11 13:00:03      7
45358     7547        a   u2  2120-07-04 17:07:06      1
45362     7547        b   u4  2120-07-06 16:22:39      2
45366     7547        d   u6  2120-07-10 04:24:14      3
45369     7547        g   u6  2120-07-13 20:46:17      4
45372     7547        e   u7  2120-07-16 06:18:37      5
45375     7547        f   u7  2120-07-21 23:42:12      6
45377     7547        h   u1  2120-07-22 22:17:09      7
45361     7548        a   u1  2120-07-05 15:10:16      1
45363     7548        b   u3  2120-07-07 01:49:54      2
45364     7548        c   u2  2120-07-07 06:34:03      3
45368     7549        a   u2  2120-07-12 23:16:38      1
45370     7549        b   u3  2120-07-14 22:42:16      2
45371     7549        d   u5  2120-07-15 03:40:37      3
45373     7549        g   u6  2120-07-19 05:39:32      4
45374     7549        e   u7  2120-07-20 18:29:17      5
45376     7549        f   u7  2120-07-22 03:43:02      6
45378     7549        h   u2  2120-07-26 11:17:13      7

[45379 rows x 5 columns]

In [5]:
df_pivot = df_sort.copy()
df_pivot = df_pivot.pivot(index='Case_ID', columns='Count', values='User')
df_pivot

Count     1   2   3    4    5    6    7
Case_ID
1        u2  u3  u5   u7   u7   u5   u2
2        u2  u4  u6   u5   u7   u7   u1
3        u2  u3  u5   u5   u8   u8   u2
4        u1  u3  u5   u5   u7   u8   u1
5        u1  u3  u2  NaN  NaN  NaN  NaN
6        u2  u4  u5   u6   u7   u7   u1
7        u1  u3  u1  NaN  NaN  NaN  NaN
8        u2  u4  u6   u5   u7   u7   u1
9        u1  u3  u5   u5   u7   u8   u1
10       u2  u4  u1  NaN  NaN  NaN  NaN
11       u1  u3  u6   u8   u7   u5   u1
12       u2  u3  u5   u8   u5   u7   u2
13       u1  u3  u5   u8   u7   u6   u2
14       u2  u3  u5   u6   u7   u8   u1
15       u1  u3  u5   u6   u8   u7   u1
16       u1  u3  u5   u7   u8   u5   u1
17       u1  u3  u5   u8   u6   u7   u2
18       u2  u3  u1  NaN  NaN  NaN  NaN
19       u1  u3  u5   u5   u7   u8   u2
20       u2  u3  u2  NaN  NaN  NaN  NaN
21       u2  u3  u5   u7   u6   u7   u2
22       u1  u3  u5   u8   u8   u6   u2
23       u2  u3  u5   u7   u8   u6   u1
24       u2  u3  u5   u5   u7   u8   u2
25       u2  u3  u5   u6   u8   u8   u1
26       u2  u3  u6   u5   u7   u8   u2
27       u2  u3  u5   u5   u8   u8   u1
28       u2  u3  u5   u7   u7   u6   u2
29       u2  u3  u2  NaN  NaN  NaN  NaN
30       u2  u3  u5   u8   u7   u6   u1
...      ..  ..  ..  ...  ...  ...  ...
7520     u2  u3  u1  NaN  NaN  NaN  NaN
7521     u1  u3  u5   u8   u7   u6   u1
7522     u2  u3  u5   u5   u7   u8   u1
7523     u2  u3  u1  NaN  NaN  NaN  NaN
7524     u1  u4  u5   u6   u7   u7   u1
7525     u1  u3  u5   u7   u7   u6   u2
7526     u1  u3  u2  NaN  NaN  NaN  NaN
7527     u2  u3  u5   u8   u6   u8   u1
7528     u1  u3  u5   u7   u6   u7   u1
7529     u2  u4  u5   u8   u7   u6   u1
7530     u2  u3  u5   u7   u8   u6   u2
7531     u2  u3  u5   u5   u8   u7   u2
7532     u1  u4  u5   u8   u8   u6   u1
7533     u1  u4  u5   u6   u8   u8   u1
7534     u2  u3  u6   u6   u8   u7   u1
7535     u2  u3  u2  NaN  NaN  NaN  NaN
7536     u2  u3  u5   u6   u8   u8   u2
7537     u1  u4  u5   u6   u8   u7   u1
7538     u1  u4  u5   u6   u7   u8   u1
7539     u2  u3  u1  NaN  NaN  NaN  NaN
7540     u2  u3  u5   u5   u8   u8   u1
7541     u1  u3  u5   u8   u6   u8   u1
7542     u1  u3  u6   u8   u6   u8   u1
7543     u2  u4  u6   u6   u8   u8   u1
7544     u1  u3  u5   u6   u7   u8   u2
7545     u2  u3  u5   u7   u7   u6   u1
7546     u2  u3  u6   u8   u7   u6   u2
7547     u2  u4  u6   u6   u7   u7   u1
7548     u1  u3  u2  NaN  NaN  NaN  NaN
7549     u2  u3  u5   u6   u7   u7   u2

[7549 rows x 7 columns]

In [6]:
df_pivot = df_pivot.fillna('X')
df_pivot = df_pivot.astype('str')
df_pivot['Trace'] = df_pivot.apply(lambda x: ','.join(x), axis=1)
df_pivot['Trace'] = df_pivot['Trace'].apply(lambda x: x.replace(',X',''))

df_pivot

Count     1   2   3   4   5   6   7                 Trace
Case_ID
1        u2  u3  u5  u7  u7  u5  u2  u2,u3,u5,u7,u7,u5,u2
2        u2  u4  u6  u5  u7  u7  u1  u2,u4,u6,u5,u7,u7,u1
3        u2  u3  u5  u5  u8  u8  u2  u2,u3,u5,u5,u8,u8,u2
4        u1  u3  u5  u5  u7  u8  u1  u1,u3,u5,u5,u7,u8,u1
5        u1  u3  u2   X   X   X   X              u1,u3,u2
6        u2  u4  u5  u6  u7  u7  u1  u2,u4,u5,u6,u7,u7,u1
7        u1  u3  u1   X   X   X   X              u1,u3,u1
8        u2  u4  u6  u5  u7  u7  u1  u2,u4,u6,u5,u7,u7,u1
9        u1  u3  u5  u5  u7  u8  u1  u1,u3,u5,u5,u7,u8,u1
10       u2  u4  u1   X   X   X   X              u2,u4,u1
11       u1  u3  u6  u8  u7  u5  u1  u1,u3,u6,u8,u7,u5,u1
12       u2  u3  u5  u8  u5  u7  u2  u2,u3,u5,u8,u5,u7,u2
13       u1  u3  u5  u8  u7  u6  u2  u1,u3,u5,u8,u7,u6,u2
14       u2  u3  u5  u6  u7  u8  u1  u2,u3,u5,u6,u7,u8,u1
15       u1  u3  u5  u6  u8  u7  u1  u1,u3,u5,u6,u8,u7,u1
16       u1  u3  u5  u7  u8  u5  u1  u1,u3,u5,u7,u8,u5,u1
17       u1  u3  u5  u8  u6  u7  u2  u1,u3,u5,u8,u6,u7,u2
18       u2  u3  u1   X   X   X   X              u2,u3,u1
19       u1  u3  u5  u5  u7  u8  u2  u1,u3,u5,u5,u7,u8,u2
20       u2  u3  u2   X   X   X   X              u2,u3,u2
21       u2  u3  u5  u7  u6  u7  u2  u2,u3,u5,u7,u6,u7,u2
22       u1  u3  u5  u8  u8  u6  u2  u1,u3,u5,u8,u8,u6,u2
23       u2  u3  u5  u7  u8  u6  u1  u2,u3,u5,u7,u8,u6,u1
24       u2  u3  u5  u5  u7  u8  u2  u2,u3,u5,u5,u7,u8,u2
25       u2  u3  u5  u6  u8  u8  u1  u2,u3,u5,u6,u8,u8,u1
26       u2  u3  u6  u5  u7  u8  u2  u2,u3,u6,u5,u7,u8,u2
27       u2  u3  u5  u5  u8  u8  u1  u2,u3,u5,u5,u8,u8,u1
28       u2  u3  u5  u7  u7  u6  u2  u2,u3,u5,u7,u7,u6,u2
29       u2  u3  u2   X   X   X   X              u2,u3,u2
30       u2  u3  u5  u8  u7  u6  u1  u2,u3,u5,u8,u7,u6,u1
...      ..  ..  ..  ..  ..  ..  ..                   ...
7520     u2  u3  u1   X   X   X   X              u2,u3,u1
7521     u1  u3  u5  u8  u7  u6  u1  u1,u3,u5,u8,u7,u6,u1
7522     u2  u3  u5  u5  u7  u8  u1  u2,u3,u5,u5,u7,u8,u1
7523     u2  u3  u1   X   X   X   X              u2,u3,u1
7524     u1  u4  u5  u6  u7  u7  u1  u1,u4,u5,u6,u7,u7,u1
7525     u1  u3  u5  u7  u7  u6  u2  u1,u3,u5,u7,u7,u6,u2
7526     u1  u3  u2   X   X   X   X              u1,u3,u2
7527     u2  u3  u5  u8  u6  u8  u1  u2,u3,u5,u8,u6,u8,u1
7528     u1  u3  u5  u7  u6  u7  u1  u1,u3,u5,u7,u6,u7,u1
7529     u2  u4  u5  u8  u7  u6  u1  u2,u4,u5,u8,u7,u6,u1
7530     u2  u3  u5  u7  u8  u6  u2  u2,u3,u5,u7,u8,u6,u2
7531     u2  u3  u5  u5  u8  u7  u2  u2,u3,u5,u5,u8,u7,u2
7532     u1  u4  u5  u8  u8  u6  u1  u1,u4,u5,u8,u8,u6,u1
7533     u1  u4  u5  u6  u8  u8  u1  u1,u4,u5,u6,u8,u8,u1
7534     u2  u3  u6  u6  u8  u7  u1  u2,u3,u6,u6,u8,u7,u1
7535     u2  u3  u2   X   X   X   X              u2,u3,u2
7536     u2  u3  u5  u6  u8  u8  u2  u2,u3,u5,u6,u8,u8,u2
7537     u1  u4  u5  u6  u8  u7  u1  u1,u4,u5,u6,u8,u7,u1
7538     u1  u4  u5  u6  u7  u8  u1  u1,u4,u5,u6,u7,u8,u1
7539     u2  u3  u1   X   X   X   X              u2,u3,u1
7540     u2  u3  u5  u5  u8  u8  u1  u2,u3,u5,u5,u8,u8,u1
7541     u1  u3  u5  u8  u6  u8  u1  u1,u3,u5,u8,u6,u8,u1
7542     u1  u3  u6  u8  u6  u8  u1  u1,u3,u6,u8,u6,u8,u1
7543     u2  u4  u6  u6  u8  u8  u1  u2,u4,u6,u6,u8,u8,u1
7544     u1  u3  u5  u6  u7  u8  u2  u1,u3,u5,u6,u7,u8,u2
7545     u2  u3  u5  u7  u7  u6  u1  u2,u3,u5,u7,u7,u6,u1
7546     u2  u3  u6  u8  u7  u6  u2  u2,u3,u6,u8,u7,u6,u2
7547     u2  u4  u6  u6  u7  u7  u1  u2,u4,u6,u6,u7,u7,u1
7548     u1  u3  u2   X   X   X   X              u1,u3,u2
7549     u2  u3  u5  u6  u7  u7  u2  u2,u3,u5,u6,u7,u7,u2

[7549 rows x 8 columns]

ModuleNotFoundError: No module named 'pygraphviz'

In [8]:
df_pivot_2=df_pivot[['Trace',1]].groupby(['Trace'], as_index=False).count()
df_pivot_2 = df_pivot_2.sort_values(by=1, ascending=False).reset_index()
del df_pivot_2['index']
df_pivot_2 = df_pivot_2.reset_index()
df_pivot_2['index'] = df_pivot_2['index']+1
df_pivot_2 = df_pivot_2.rename(columns={'index':'Variants',1:'Count'})
df_pivot_2

Count  Variants                 Trace  Count
0             1              u2,u3,u2    404
1             2              u2,u3,u1    377
2             3              u1,u3,u1    265
3             4              u1,u3,u2    258
4             5              u2,u4,u1    179
5             6              u2,u4,u2    173
6             7  u2,u3,u5,u6,u7,u8,u1    133
7             8  u2,u3,u5,u6,u7,u7,u1    119
8             9              u1,u4,u1    106
9            10              u1,u4,u2    104
10           11  u2,u3,u5,u7,u8,u6,u1     90
11           12  u1,u3,u5,u6,u7,u7,u1     85
12           13  u2,u3,u5,u6,u7,u8,u2     79
13           14  u2,u3,u5,u6,u8,u7,u1     79
14           15  u2,u3,u5,u7,u7,u6,u1     78
15           16  u1,u3,u5,u6,u7,u8,u1     73
16           17  u2,u3,u5,u6,u8,u8,u1     73
17           18  u2,u3,u5,u6,u7,u7,u2     69
18           19  u2,u3,u5,u5,u7,u8,u1     66
19           20  u1,u3,u5,u7,u8,u6,u1     63
20           21  u1,u3,u5,u7,u7,u6,u1     58
21           22  u2,u3,u5,u7,u7,u6,u2     58
22           23  u2,u3,u5,u7,u8,u6,u2     58
23           24  u2,u3,u5,u5,u7,u7,u1     57
24           25  u1,u3,u5,u6,u8,u7,u1     56
25           26  u2,u4,u5,u6,u7,u8,u1     55
26           27  u1,u3,u5,u6,u7,u7,u2     55
27           28  u2,u3,u5,u8,u8,u6,u1     54
28           29  u2,u3,u5,u5,u8,u7,u1     52
29           30  u2,u3,u5,u6,u8,u8,u2     49
..          ...                   ...    ...
348         349  u1,u4,u6,u8,u6,u7,u1      2
349         350  u2,u3,u6,u8,u5,u8,u2      2
350         351  u2,u4,u6,u5,u7,u7,u2      2
351         352  u1,u3,u6,u5,u8,u8,u2      2
352         353  u1,u4,u6,u7,u8,u5,u2      2
353         354  u1,u4,u6,u7,u7,u6,u2      2
354         355  u1,u3,u6,u8,u6,u8,u2      2
355         356  u2,u3,u6,u7,u5,u7,u2      1
356         357  u1,u4,u5,u8,u5,u8,u2      1
357         358  u1,u3,u6,u7,u5,u7,u2      1
358         359  u1,u3,u6,u8,u5,u8,u1      1
359         360  u1,u3,u6,u8,u5,u7,u1      1
360         361  u2,u4,u6,u8,u5,u7,u2      1
361         362  u2,u4,u6,u8,u8,u5,u1      1
362         363  u1,u4,u6,u5,u8,u8,u2      1
363         364  u2,u3,u6,u5,u8,u7,u2      1
364         365  u1,u4,u6,u5,u7,u7,u2      1
365         366  u2,u4,u6,u8,u5,u7,u1      1
366         367  u1,u4,u6,u8,u5,u8,u1      1
367         368  u2,u3,u6,u8,u5,u7,u2      1
368         369  u1,u4,u6,u7,u6,u8,u2      1
369         370  u2,u4,u6,u7,u7,u5,u2      1
370         371  u2,u3,u6,u8,u5,u8,u1      1
371         372  u1,u4,u6,u7,u5,u8,u2      1
372         373  u1,u3,u6,u8,u7,u5,u2      1
373         374  u1,u4,u6,u7,u6,u7,u1      1
374         375  u1,u4,u5,u7,u5,u7,u2      1
375         376  u2,u4,u6,u7,u5,u8,u2      1
376         377  u1,u4,u6,u8,u6,u7,u2      1
377         378  u1,u4,u6,u7,u6,u8,u1      1

[378 rows x 3 columns]

In [9]:
df_pivot_2.to_csv('Case_Count_2.csv', index=False)