In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('eventlog_large.csv', sep=';')
df.head()

   Case_ID Activity User            Timestamp
0        1        a   u2  2016-04-15 08:41:28
1        1        b   u3  2016-04-18 12:55:01
2        2        a   u2  2016-04-18 20:40:14
3        1        d   u5  2016-04-19 07:22:59
4        2        b   u4  2016-04-21 22:42:39

In [3]:
df_sort = df.copy()
df_sort = df_sort.sort_values(by=['Case_ID', 'Timestamp'], ascending=True)
df_sort.head()

   Case_ID Activity User            Timestamp
0        1        a   u2  2016-04-15 08:41:28
1        1        b   u3  2016-04-18 12:55:01
3        1        d   u5  2016-04-19 07:22:59
5        1        e   u7  2016-04-23 15:06:58
7        1        f   u7  2016-04-24 19:18:32

In [4]:
df_sort['Count'] = df_sort.groupby('Case_ID').cumcount()+1
df_sort

       Case_ID Activity User            Timestamp  Count
0            1        a   u2  2016-04-15 08:41:28      1
1            1        b   u3  2016-04-18 12:55:01      2
3            1        d   u5  2016-04-19 07:22:59      3
5            1        e   u7  2016-04-23 15:06:58      4
7            1        f   u7  2016-04-24 19:18:32      5
8            1        g   u5  2016-04-25 14:56:42      6
10           1        h   u2  2016-04-26 10:00:36      7
2            2        a   u2  2016-04-18 20:40:14      1
4            2        b   u4  2016-04-21 22:42:39      2
6            2        d   u6  2016-04-24 01:29:27      3
9            2        g   u5  2016-04-25 22:36:27      4
12           2        e   u7  2016-04-27 16:12:28      5
14           2        f   u7  2016-04-28 15:00:35      6
18           2        h   u1  2016-05-01 18:32:18      7
11           3        a   u2  2016-04-27 01:45:07      1
13           3        b   u3  2016-04-27 21:50:32      2
15           3        d   u5  2016-04-29 00:12:15      3
16           3        g   u5  2016-04-29 16:24:46      4
17           3        e   u8  2016-04-30 22:57:03      5
19           3        f   u8  2016-05-02 01:33:30      6
21           3        h   u2  2016-05-02 11:06:53      7
20           4        a   u1  2016-05-02 08:38:34      1
22           4        b   u3  2016-05-06 00:50:31      2
23           4        d   u5  2016-05-06 17:56:11      3
29           4        g   u5  2016-05-13 10:34:23      4
30           4        e   u7  2016-05-13 13:56:10      5
32           4        f   u8  2016-05-14 23:42:03      6
34           4        h   u1  2016-05-17 14:02:28      7
25           5        a   u1  2016-05-09 07:17:12      1
26           5        b   u3  2016-05-10 06:29:42      2
...        ...      ...  ...                  ...    ...
45341     7545        b   u3  2120-06-25 11:13:57      2
45342     7545        d   u5  2120-06-26 00:22:29      3
45348     7545        e   u7  2120-06-28 04:06:45      4
45349     7545        f   u7  2120-06-28 22:15:25      5
45350     7545        g   u6  2120-06-28 22:55:12      6
45356     7545        h   u1  2120-07-02 01:29:52      7
45354     7546        a   u2  2120-07-01 11:45:11      1
45355     7546        b   u3  2120-07-02 00:35:36      2
45357     7546        d   u6  2120-07-03 22:47:22      3
45359     7546        e   u8  2120-07-04 21:58:41      4
45360     7546        f   u7  2120-07-05 03:37:20      5
45365     7546        g   u6  2120-07-09 10:36:39      6
45367     7546        h   u2  2120-07-11 13:00:03      7
45358     7547        a   u2  2120-07-04 17:07:06      1
45362     7547        b   u4  2120-07-06 16:22:39      2
45366     7547        d   u6  2120-07-10 04:24:14      3
45369     7547        g   u6  2120-07-13 20:46:17      4
45372     7547        e   u7  2120-07-16 06:18:37      5
45375     7547        f   u7  2120-07-21 23:42:12      6
45377     7547        h   u1  2120-07-22 22:17:09      7
45361     7548        a   u1  2120-07-05 15:10:16      1
45363     7548        b   u3  2120-07-07 01:49:54      2
45364     7548        c   u2  2120-07-07 06:34:03      3
45368     7549        a   u2  2120-07-12 23:16:38      1
45370     7549        b   u3  2120-07-14 22:42:16      2
45371     7549        d   u5  2120-07-15 03:40:37      3
45373     7549        g   u6  2120-07-19 05:39:32      4
45374     7549        e   u7  2120-07-20 18:29:17      5
45376     7549        f   u7  2120-07-22 03:43:02      6
45378     7549        h   u2  2120-07-26 11:17:13      7

[45379 rows x 5 columns]

In [5]:
df_pivot = df_sort.copy()
df_pivot = df_pivot.pivot(index='Case_ID', columns='Count', values='User')
df_pivot

Count     1   2   3    4    5    6    7
Case_ID
1        u2  u3  u5   u7   u7   u5   u2
2        u2  u4  u6   u5   u7   u7   u1
3        u2  u3  u5   u5   u8   u8   u2
4        u1  u3  u5   u5   u7   u8   u1
5        u1  u3  u2  NaN  NaN  NaN  NaN
6        u2  u4  u5   u6   u7   u7   u1
7        u1  u3  u1  NaN  NaN  NaN  NaN
8        u2  u4  u6   u5   u7   u7   u1
9        u1  u3  u5   u5   u7   u8   u1
10       u2  u4  u1  NaN  NaN  NaN  NaN
11       u1  u3  u6   u8   u7   u5   u1
12       u2  u3  u5   u8   u5   u7   u2
13       u1  u3  u5   u8   u7   u6   u2
14       u2  u3  u5   u6   u7   u8   u1
15       u1  u3  u5   u6   u8   u7   u1
16       u1  u3  u5   u7   u8   u5   u1
17       u1  u3  u5   u8   u6   u7   u2
18       u2  u3  u1  NaN  NaN  NaN  NaN
19       u1  u3  u5   u5   u7   u8   u2
20       u2  u3  u2  NaN  NaN  NaN  NaN
21       u2  u3  u5   u7   u6   u7   u2
22       u1  u3  u5   u8   u8   u6   u2
23       u2  u3  u5   u7   u8   u6   u1
24       u2  u3  u5   u5   u7   u8   u2
25       u2  u3  u5   u6   u8   u8   u1
26       u2  u3  u6   u5   u7   u8   u2
27       u2  u3  u5   u5   u8   u8   u1
28       u2  u3  u5   u7   u7   u6   u2
29       u2  u3  u2  NaN  NaN  NaN  NaN
30       u2  u3  u5   u8   u7   u6   u1
...      ..  ..  ..  ...  ...  ...  ...
7520     u2  u3  u1  NaN  NaN  NaN  NaN
7521     u1  u3  u5   u8   u7   u6   u1
7522     u2  u3  u5   u5   u7   u8   u1
7523     u2  u3  u1  NaN  NaN  NaN  NaN
7524     u1  u4  u5   u6   u7   u7   u1
7525     u1  u3  u5   u7   u7   u6   u2
7526     u1  u3  u2  NaN  NaN  NaN  NaN
7527     u2  u3  u5   u8   u6   u8   u1
7528     u1  u3  u5   u7   u6   u7   u1
7529     u2  u4  u5   u8   u7   u6   u1
7530     u2  u3  u5   u7   u8   u6   u2
7531     u2  u3  u5   u5   u8   u7   u2
7532     u1  u4  u5   u8   u8   u6   u1
7533     u1  u4  u5   u6   u8   u8   u1
7534     u2  u3  u6   u6   u8   u7   u1
7535     u2  u3  u2  NaN  NaN  NaN  NaN
7536     u2  u3  u5   u6   u8   u8   u2
7537     u1  u4  u5   u6   u8   u7   u1
7538     u1  u4  u5   u6   u7   u8   u1
7539     u2  u3  u1  NaN  NaN  NaN  NaN
7540     u2  u3  u5   u5   u8   u8   u1
7541     u1  u3  u5   u8   u6   u8   u1
7542     u1  u3  u6   u8   u6   u8   u1
7543     u2  u4  u6   u6   u8   u8   u1
7544     u1  u3  u5   u6   u7   u8   u2
7545     u2  u3  u5   u7   u7   u6   u1
7546     u2  u3  u6   u8   u7   u6   u2
7547     u2  u4  u6   u6   u7   u7   u1
7548     u1  u3  u2  NaN  NaN  NaN  NaN
7549     u2  u3  u5   u6   u7   u7   u2

[7549 rows x 7 columns]

In [6]:
df_pivot = df_pivot.fillna('X')
df_pivot = df_pivot.astype('str')
df_pivot['Trace'] = df_pivot.apply(lambda x: ','.join(x), axis=1)
df_pivot['Trace'] = df_pivot['Trace'].apply(lambda x: x.replace(',X',''))

df_pivot

Count     1   2   3   4   5   6   7                 Trace
Case_ID
1        u2  u3  u5  u7  u7  u5  u2  u2,u3,u5,u7,u7,u5,u2
2        u2  u4  u6  u5  u7  u7  u1  u2,u4,u6,u5,u7,u7,u1
3        u2  u3  u5  u5  u8  u8  u2  u2,u3,u5,u5,u8,u8,u2
4        u1  u3  u5  u5  u7  u8  u1  u1,u3,u5,u5,u7,u8,u1
5        u1  u3  u2   X   X   X   X              u1,u3,u2
6        u2  u4  u5  u6  u7  u7  u1  u2,u4,u5,u6,u7,u7,u1
7        u1  u3  u1   X   X   X   X              u1,u3,u1
8        u2  u4  u6  u5  u7  u7  u1  u2,u4,u6,u5,u7,u7,u1
9        u1  u3  u5  u5  u7  u8  u1  u1,u3,u5,u5,u7,u8,u1
10       u2  u4  u1   X   X   X   X              u2,u4,u1
11       u1  u3  u6  u8  u7  u5  u1  u1,u3,u6,u8,u7,u5,u1
12       u2  u3  u5  u8  u5  u7  u2  u2,u3,u5,u8,u5,u7,u2
13       u1  u3  u5  u8  u7  u6  u2  u1,u3,u5,u8,u7,u6,u2
14       u2  u3  u5  u6  u7  u8  u1  u2,u3,u5,u6,u7,u8,u1
15       u1  u3  u5  u6  u8  u7  u1  u1,u3,u5,u6,u8,u7,u1
16       u1  u3  u5  u7  u8  u5  u1  u1,u3,u5,u7,u8,u5,u1
17       u1  u3  u5  u8  u6  u7  u2  u1,u3,u5,u8,u6,u7,u2
18       u2  u3  u1   X   X   X   X              u2,u3,u1
19       u1  u3  u5  u5  u7  u8  u2  u1,u3,u5,u5,u7,u8,u2
20       u2  u3  u2   X   X   X   X              u2,u3,u2
21       u2  u3  u5  u7  u6  u7  u2  u2,u3,u5,u7,u6,u7,u2
22       u1  u3  u5  u8  u8  u6  u2  u1,u3,u5,u8,u8,u6,u2
23       u2  u3  u5  u7  u8  u6  u1  u2,u3,u5,u7,u8,u6,u1
24       u2  u3  u5  u5  u7  u8  u2  u2,u3,u5,u5,u7,u8,u2
25       u2  u3  u5  u6  u8  u8  u1  u2,u3,u5,u6,u8,u8,u1
26       u2  u3  u6  u5  u7  u8  u2  u2,u3,u6,u5,u7,u8,u2
27       u2  u3  u5  u5  u8  u8  u1  u2,u3,u5,u5,u8,u8,u1
28       u2  u3  u5  u7  u7  u6  u2  u2,u3,u5,u7,u7,u6,u2
29       u2  u3  u2   X   X   X   X              u2,u3,u2
30       u2  u3  u5  u8  u7  u6  u1  u2,u3,u5,u8,u7,u6,u1
...      ..  ..  ..  ..  ..  ..  ..                   ...
7520     u2  u3  u1   X   X   X   X              u2,u3,u1
7521     u1  u3  u5  u8  u7  u6  u1  u1,u3,u5,u8,u7,u6,u1
7522     u2  u3  u5  u5  u7  u8  u1  u2,u3,u5,u5,u7,u8,u1
7523     u2  u3  u1   X   X   X   X              u2,u3,u1
7524     u1  u4  u5  u6  u7  u7  u1  u1,u4,u5,u6,u7,u7,u1
7525     u1  u3  u5  u7  u7  u6  u2  u1,u3,u5,u7,u7,u6,u2
7526     u1  u3  u2   X   X   X   X              u1,u3,u2
7527     u2  u3  u5  u8  u6  u8  u1  u2,u3,u5,u8,u6,u8,u1
7528     u1  u3  u5  u7  u6  u7  u1  u1,u3,u5,u7,u6,u7,u1
7529     u2  u4  u5  u8  u7  u6  u1  u2,u4,u5,u8,u7,u6,u1
7530     u2  u3  u5  u7  u8  u6  u2  u2,u3,u5,u7,u8,u6,u2
7531     u2  u3  u5  u5  u8  u7  u2  u2,u3,u5,u5,u8,u7,u2
7532     u1  u4  u5  u8  u8  u6  u1  u1,u4,u5,u8,u8,u6,u1
7533     u1  u4  u5  u6  u8  u8  u1  u1,u4,u5,u6,u8,u8,u1
7534     u2  u3  u6  u6  u8  u7  u1  u2,u3,u6,u6,u8,u7,u1
7535     u2  u3  u2   X   X   X   X              u2,u3,u2
7536     u2  u3  u5  u6  u8  u8  u2  u2,u3,u5,u6,u8,u8,u2
7537     u1  u4  u5  u6  u8  u7  u1  u1,u4,u5,u6,u8,u7,u1
7538     u1  u4  u5  u6  u7  u8  u1  u1,u4,u5,u6,u7,u8,u1
7539     u2  u3  u1   X   X   X   X              u2,u3,u1
7540     u2  u3  u5  u5  u8  u8  u1  u2,u3,u5,u5,u8,u8,u1
7541     u1  u3  u5  u8  u6  u8  u1  u1,u3,u5,u8,u6,u8,u1
7542     u1  u3  u6  u8  u6  u8  u1  u1,u3,u6,u8,u6,u8,u1
7543     u2  u4  u6  u6  u8  u8  u1  u2,u4,u6,u6,u8,u8,u1
7544     u1  u3  u5  u6  u7  u8  u2  u1,u3,u5,u6,u7,u8,u2
7545     u2  u3  u5  u7  u7  u6  u1  u2,u3,u5,u7,u7,u6,u1
7546     u2  u3  u6  u8  u7  u6  u2  u2,u3,u6,u8,u7,u6,u2
7547     u2  u4  u6  u6  u7  u7  u1  u2,u4,u6,u6,u7,u7,u1
7548     u1  u3  u2   X   X   X   X              u1,u3,u2
7549     u2  u3  u5  u6  u7  u7  u2  u2,u3,u5,u6,u7,u7,u2

[7549 rows x 8 columns]

ModuleNotFoundError: No module named 'pygraphviz'

In [8]:
df_pivot_2=df_pivot[['Trace',1]].groupby(['Trace'], as_index=False).count()
df_pivot_2 = df_pivot_2.sort_values(by=1, ascending=False).reset_index()
del df_pivot_2['index']
df_pivot_2 = df_pivot_2.reset_index()
df_pivot_2['index'] = df_pivot_2['index']+1
df_pivot_2 = df_pivot_2.rename(columns={'index':'Variants',1:'Count'})
df_pivot_2

Count  Variants                 Trace  Count
0             1              u2,u3,u2    404
1             2              u2,u3,u1    377
2             3              u1,u3,u1    265
3             4              u1,u3,u2    258
4             5              u2,u4,u1    179
5             6              u2,u4,u2    173
6             7  u2,u3,u5,u6,u7,u8,u1    133
7             8  u2,u3,u5,u6,u7,u7,u1    119
8             9              u1,u4,u1    106
9            10              u1,u4,u2    104
10           11  u2,u3,u5,u7,u8,u6,u1     90
11           12  u1,u3,u5,u6,u7,u7,u1     85
12           13  u2,u3,u5,u6,u7,u8,u2     79
13           14  u2,u3,u5,u6,u8,u7,u1     79
14           15  u2,u3,u5,u7,u7,u6,u1     78
15           16  u1,u3,u5,u6,u7,u8,u1     73
16           17  u2,u3,u5,u6,u8,u8,u1     73
17           18  u2,u3,u5,u6,u7,u7,u2     69
18           19  u2,u3,u5,u5,u7,u8,u1     66
19           20  u1,u3,u5,u7,u8,u6,u1     63
20           21  u1,u3,u5,u7,u7,u6,u1     58
21           22  u2,u3,u5,u7,u7,u6,u2     58
22           23  u2,u3,u5,u7,u8,u6,u2     58
23           24  u2,u3,u5,u5,u7,u7,u1     57
24           25  u1,u3,u5,u6,u8,u7,u1     56
25           26  u2,u4,u5,u6,u7,u8,u1     55
26           27  u1,u3,u5,u6,u7,u7,u2     55
27           28  u2,u3,u5,u8,u8,u6,u1     54
28           29  u2,u3,u5,u5,u8,u7,u1     52
29           30  u2,u3,u5,u6,u8,u8,u2     49
..          ...                   ...    ...
348         349  u1,u4,u6,u8,u6,u7,u1      2
349         350  u2,u3,u6,u8,u5,u8,u2      2
350         351  u2,u4,u6,u5,u7,u7,u2      2
351         352  u1,u3,u6,u5,u8,u8,u2      2
352         353  u1,u4,u6,u7,u8,u5,u2      2
353         354  u1,u4,u6,u7,u7,u6,u2      2
354         355  u1,u3,u6,u8,u6,u8,u2      2
355         356  u2,u3,u6,u7,u5,u7,u2      1
356         357  u1,u4,u5,u8,u5,u8,u2      1
357         358  u1,u3,u6,u7,u5,u7,u2      1
358         359  u1,u3,u6,u8,u5,u8,u1      1
359         360  u1,u3,u6,u8,u5,u7,u1      1
360         361  u2,u4,u6,u8,u5,u7,u2      1
361         362  u2,u4,u6,u8,u8,u5,u1      1
362         363  u1,u4,u6,u5,u8,u8,u2      1
363         364  u2,u3,u6,u5,u8,u7,u2      1
364         365  u1,u4,u6,u5,u7,u7,u2      1
365         366  u2,u4,u6,u8,u5,u7,u1      1
366         367  u1,u4,u6,u8,u5,u8,u1      1
367         368  u2,u3,u6,u8,u5,u7,u2      1
368         369  u1,u4,u6,u7,u6,u8,u2      1
369         370  u2,u4,u6,u7,u7,u5,u2      1
370         371  u2,u3,u6,u8,u5,u8,u1      1
371         372  u1,u4,u6,u7,u5,u8,u2      1
372         373  u1,u3,u6,u8,u7,u5,u2      1
373         374  u1,u4,u6,u7,u6,u7,u1      1
374         375  u1,u4,u5,u7,u5,u7,u2      1
375         376  u2,u4,u6,u7,u5,u8,u2      1
376         377  u1,u4,u6,u8,u6,u7,u2      1
377         378  u1,u4,u6,u7,u6,u8,u1      1

[378 rows x 3 columns]

In [9]:
df_pivot_2.to_csv('Case_Count_2.csv', index=False)

In [13]:
#DF CASE
df_case = df_sort.copy()
df_case

       Case_ID Activity User            Timestamp  Count
0            1        a   u2  2016-04-15 08:41:28      1
1            1        b   u3  2016-04-18 12:55:01      2
3            1        d   u5  2016-04-19 07:22:59      3
5            1        e   u7  2016-04-23 15:06:58      4
7            1        f   u7  2016-04-24 19:18:32      5
8            1        g   u5  2016-04-25 14:56:42      6
10           1        h   u2  2016-04-26 10:00:36      7
2            2        a   u2  2016-04-18 20:40:14      1
4            2        b   u4  2016-04-21 22:42:39      2
6            2        d   u6  2016-04-24 01:29:27      3
9            2        g   u5  2016-04-25 22:36:27      4
12           2        e   u7  2016-04-27 16:12:28      5
14           2        f   u7  2016-04-28 15:00:35      6
18           2        h   u1  2016-05-01 18:32:18      7
11           3        a   u2  2016-04-27 01:45:07      1
13           3        b   u3  2016-04-27 21:50:32      2
15           3        d   u5  2016-04-29 00:12:15      3
16           3        g   u5  2016-04-29 16:24:46      4
17           3        e   u8  2016-04-30 22:57:03      5
19           3        f   u8  2016-05-02 01:33:30      6
21           3        h   u2  2016-05-02 11:06:53      7
20           4        a   u1  2016-05-02 08:38:34      1
22           4        b   u3  2016-05-06 00:50:31      2
23           4        d   u5  2016-05-06 17:56:11      3
29           4        g   u5  2016-05-13 10:34:23      4
30           4        e   u7  2016-05-13 13:56:10      5
32           4        f   u8  2016-05-14 23:42:03      6
34           4        h   u1  2016-05-17 14:02:28      7
25           5        a   u1  2016-05-09 07:17:12      1
26           5        b   u3  2016-05-10 06:29:42      2
...        ...      ...  ...                  ...    ...
45341     7545        b   u3  2120-06-25 11:13:57      2
45342     7545        d   u5  2120-06-26 00:22:29      3
45348     7545        e   u7  2120-06-28 04:06:45      4
45349     7545        f   u7  2120-06-28 22:15:25      5
45350     7545        g   u6  2120-06-28 22:55:12      6
45356     7545        h   u1  2120-07-02 01:29:52      7
45354     7546        a   u2  2120-07-01 11:45:11      1
45355     7546        b   u3  2120-07-02 00:35:36      2
45357     7546        d   u6  2120-07-03 22:47:22      3
45359     7546        e   u8  2120-07-04 21:58:41      4
45360     7546        f   u7  2120-07-05 03:37:20      5
45365     7546        g   u6  2120-07-09 10:36:39      6
45367     7546        h   u2  2120-07-11 13:00:03      7
45358     7547        a   u2  2120-07-04 17:07:06      1
45362     7547        b   u4  2120-07-06 16:22:39      2
45366     7547        d   u6  2120-07-10 04:24:14      3
45369     7547        g   u6  2120-07-13 20:46:17      4
45372     7547        e   u7  2120-07-16 06:18:37      5
45375     7547        f   u7  2120-07-21 23:42:12      6
45377     7547        h   u1  2120-07-22 22:17:09      7
45361     7548        a   u1  2120-07-05 15:10:16      1
45363     7548        b   u3  2120-07-07 01:49:54      2
45364     7548        c   u2  2120-07-07 06:34:03      3
45368     7549        a   u2  2120-07-12 23:16:38      1
45370     7549        b   u3  2120-07-14 22:42:16      2
45371     7549        d   u5  2120-07-15 03:40:37      3
45373     7549        g   u6  2120-07-19 05:39:32      4
45374     7549        e   u7  2120-07-20 18:29:17      5
45376     7549        f   u7  2120-07-22 03:43:02      6
45378     7549        h   u2  2120-07-26 11:17:13      7

[45379 rows x 5 columns]

In [14]:
df_case['Timestamp'] = pd.to_datetime(df['Timestamp'])
df_case = df_case.pivot(index='Case_ID',columns='Count', values='Timestamp')
df_case['Max'] = df_case.apply(max, axis=1)
df_case['Case Duration'] = df_case['Max'] - df_case[1]

df_case

Count,1,2,3,4,5,6,7,Max,Case Duration
Case_ID,,,,,,,,,
1,2016-04-15 08:41:28,2016-04-18 12:55:01,2016-04-19 07:22:59,2016-04-23 15:06:58,2016-04-24 19:18:32,2016-04-25 14:56:42,2016-04-26 10:00:36,2016-04-26 10:00:36,11 days 01:19:08
2,2016-04-18 20:40:14,2016-04-21 22:42:39,2016-04-24 01:29:27,2016-04-25 22:36:27,2016-04-27 16:12:28,2016-04-28 15:00:35,2016-05-01 18:32:18,2016-05-01 18:32:18,12 days 21:52:04
3,2016-04-27 01:45:07,2016-04-27 21:50:32,2016-04-29 00:12:15,2016-04-29 16:24:46,2016-04-30 22:57:03,2016-05-02 01:33:30,2016-05-02 11:06:53,2016-05-02 11:06:53,5 days 09:21:46
4,2016-05-02 08:38:34,2016-05-06 00:50:31,2016-05-06 17:56:11,2016-05-13 10:34:23,2016-05-13 13:56:10,2016-05-14 23:42:03,2016-05-17 14:02:28,2016-05-17 14:02:28,15 days 05:23:54
5,2016-05-09 07:17:12,2016-05-10 06:29:42,2016-05-11 05:04:34,NaT,NaT,NaT,NaT,2016-05-11 05:04:34,1 days 21:47:22
6,2016-05-08 07:01:29,2016-05-12 10:39:53,2016-05-14 06:07:39,2016-05-15 21:34:32,2016-05-18 03:47:00,2016-05-18 12:54:53,2016-05-20 01:23:09,2016-05-20 01:23:09,11 days 18:21:40
7,2016-05-18 21:19:05,2016-05-21 10:50:07,2016-05-22 09:40:30,NaT,NaT,NaT,NaT,2016-05-22 09:40:30,3 days 12:21:25
8,2016-05-21 18:49:58,2016-05-22 08:57:32,2016-05-23 23:04:51,2016-05-25 08:31:48,2016-05-28 08:43:24,2016-05-29 20:11:19,2016-06-01 08:27:22,2016-06-01 08:27:22,10 days 13:37:24
9,2016-05-29 16:46:13,2016-05-30 02:05:00,2016-05-31 02:34:15,2016-06-03 06:04:30,2016-06-04 02:42:51,2016-06-04 22:05:31,2016-06-08 23:33:40,2016-06-08 23:33:40,10 days 06:47:27
10,2016-05-31 19:59:50,2016-06-04 06:19:48,2016-06-05 00:42:28,NaT,NaT,NaT,NaT,2016-06-05 00:42:28,4 days 04:42:38
11,2016-06-06 05:43:44,2016-06-07 14:58:13,2016-06-08 14:28:05,2016-06-10 05:19:28,2016-06-11 06:01:56,2016-06-12 03:35:31,2016-06-14 12:45:25,2016-06-14 12:45:25,8 days 07:01:41
12,2016-06-06 19:37:08,2016-06-08 20:45:46,2016-06-13 08:05:54,2016-06-18 00:09:40,2016-06-18 12:59:16,2016-06-18 16:15:56,2016-06-21 13:57:48,2016-06-21 13:57:48,14 days 18:20:40
13,2016-06-10 18:22:15,2016-06-10 20:19:58,2016-06-14 03:25:14,2016-06-21 15:35:30,2016-06-21 21:48:11,2016-06-22 09:13:01,2016-06-25 11:56:40,2016-06-25 11:56:40,14 days 17:34:25
14,2016-06-19 04:21:11,2016-06-22 07:37:59,2016-06-23 01:11:03,2016-06-25 22:18:04,2016-06-27 02:49:17,2016-06-28 10:30:35,2016-06-30 16:52:31,2016-06-30 16:52:31,11 days 12:31:20
15,2016-06-26 22:18:28,2016-06-28 02:24:40,2016-06-29 09:28:04,2016-07-02 03:09:09,2016-07-04 19:48:17,2016-07-06 02:39:30,2016-07-08 06:11:05,2016-07-08 06:11:05,11 days 07:52:37
16,2016-07-03 15:25:12,2016-07-05 04:36:53,2016-07-06 07:25:28,2016-07-07 17:20:55,2016-07-08 13:30:44,2016-07-09 00:44:49,2016-07-13 06:41:30,2016-07-13 06:41:30,9 days 15:16:18
17,2016-07-09 22:55:51,2016-07-12 02:31:37,2016-07-12 12:06:10,2016-07-13 08:56:33,2016-07-13 20:36:13,2016-07-14 13:54:31,2016-07-15 17:42:42,2016-07-15 17:42:42,5 days 18:46:51
18,2016-07-09 02:31:42,2016-07-11 01:12:55,2016-07-14 18:46:18,NaT,NaT,NaT,NaT,2016-07-14 18:46:18,5 days 16:14:36
19,2016-07-14 18:46:18,2016-07-16 11:20:03,2016-07-18 07:03:18,2016-07-18 07:03:18,2016-07-24 08:56:13,2016-07-25 23:14:20,2016-07-27 18:08:34,2016-07-27 18:08:34,12 days 23:22:16
20,2016-07-21 04:22:41,2016-07-23 04:40:45,2016-07-23 11:48:45,NaT,NaT,NaT,NaT,2016-07-23 11:48:45,2 days 07:26:04
21,2016-07-28 22:56:42,2016-08-01 01:40:23,2016-08-01 23:57:40,2016-08-05 22:56:29,2016-08-06 09:27:43,2016-08-07 22:03:51,2016-08-10 00:15:14,2016-08-10 00:15:14,12 days 01:18:32
22,2016-08-02 09:26:41,2016-08-03 00:06:08,2016-08-03 09:13:15,2016-08-06 19:12:44,2016-08-08 17:07:18,2016-08-09 20:22:42,2016-08-12 12:16:32,2016-08-12 12:16:32,10 days 02:49:51
23,2016-08-03 10:41:46,2016-08-05 00:54:25,2016-08-05 11:21:15,2016-08-06 14:13:04,2016-08-07 20:13:29,2016-08-11 02:52:22,2016-08-11 10:58:04,2016-08-11 10:58:04,8 days 00:16:18
24,2016-08-13 18:33:56,2016-08-16 08:01:47,2016-08-16 19:33:45,2016-08-20 09:06:12,2016-08-22 01:22:21,2016-08-28 00:22:49,2016-08-28 19:48:08,2016-08-28 19:48:08,15 days 01:14:12
25,2016-08-20 06:08:44,2016-08-21 06:12:25,2016-08-22 00:34:08,2016-08-26 14:09:44,2016-08-26 18:33:09,2016-08-30 06:23:32,2016-09-02 05:36:32,2016-09-02 05:36:32,12 days 23:27:48
26,2016-08-21 02:27:04,2016-08-21 15:03:09,2016-08-22 19:47:41,2016-08-23 15:50:49,2016-08-25 02:11:15,2016-08-28 22:19:19,2016-08-31 01:12:09,2016-08-31 01:12:09,9 days 22:45:05
27,2016-08-28 03:57:02,2016-08-29 17:42:52,2016-08-30 02:09:02,2016-09-03 09:49:28,2016-09-06 09:02:14,2016-09-07 06:45:54,2016-09-08 09:11:55,2016-09-08 09:11:55,11 days 05:14:53
28,2016-09-04 09:24:26,2016-09-04 09:24:26,2016-09-05 02:19:33,2016-09-06 09:38:48,2016-09-06 14:46:45,2016-09-09 23:21:27,2016-09-13 12:48:54,2016-09-13 12:48:54,9 days 03:24:28
29,2016-09-09 14:43:50,2016-09-11 21:07:41,2016-09-15 20:19:51,NaT,NaT,NaT,NaT,2016-09-15 20:19:51,6 days 05:36:01
30,2016-09-15 09:00:23,2016-09-18 04:05:15,2016-09-19 10:17:59,2016-09-19 10:17:59,2016-09-19 21:00:42,2016-09-20 06:26:42,2016-09-21 09:16:54,2016-09-21 09:16:54,6 days 00:16:31
...,...,...,...,...,...,...,...,...,...
7520,2120-02-28 10:30:20,2120-02-29 23:18:42,2120-03-01 10:03:21,NaT,NaT,NaT,NaT,2120-03-01 10:03:21,1 days 23:33:01
7521,2120-03-06 05:12:13,2120-03-08 14:34:03,2120-03-10 05:49:32,2120-03-12 20:59:55,2120-03-15 20:27:44,2120-03-16 18:01:05,2120-03-20 05:06:36,2120-03-20 05:06:36,13 days 23:54:23
7522,2120-03-06 12:00:37,2120-03-10 09:59:28,2120-03-11 04:52:24,2120-03-14 14:23:51,2120-03-15 02:37:32,2120-03-15 19:27:20,2120-03-17 21:28:55,2120-03-17 21:28:55,11 days 09:28:18
7523,2120-03-11 09:11:08,2120-03-11 14:12:58,2120-03-13 01:43:28,NaT,NaT,NaT,NaT,2120-03-13 01:43:28,1 days 16:32:20
7524,2120-03-11 01:44:49,2120-03-12 06:24:17,2120-03-15 12:45:01,2120-03-18 12:58:50,2120-03-20 23:59:22,2120-03-21 22:48:35,2120-03-24 21:24:44,2120-03-24 21:24:44,13 days 19:39:55
7525,2120-03-21 06:33:11,2120-03-23 19:39:24,2120-03-23 22:29:48,2120-03-26 23:22:15,2120-03-28 03:06:28,2120-03-28 13:49:17,2120-03-31 15:37:52,2120-03-31 15:37:52,10 days 09:04:41
7526,2120-03-26 04:59:15,2120-03-27 17:03:03,2120-03-29 01:55:37,NaT,NaT,NaT,NaT,2120-03-29 01:55:37,2 days 20:56:22
7527,2120-04-01 21:57:23,2120-04-04 18:19:24,2120-04-06 17:48:22,2120-04-11 09:09:10,2120-04-13 19:52:50,2120-04-17 10:27:55,2120-04-20 11:08:51,2120-04-20 11:08:51,18 days 13:11:28
7528,2120-04-01 09:26:16,2120-04-02 13:05:58,2120-04-03 18:00:50,2120-04-06 20:45:43,2120-04-07 23:14:40,2120-04-08 01:50:35,2120-04-08 17:58:38,2120-04-08 17:58:38,7 days 08:32:22
7529,2120-04-08 06:51:04,2120-04-08 09:18:10,2120-04-08 21:44:22,2120-04-16 16:04:05,2120-04-17 18:11:29,2120-04-18 06:05:38,2120-04-22 03:23:17,2120-04-22 03:23:17,13 days 20:32:13
7530,2120-04-13 04:48:22,2120-04-15 18:23:36,2120-04-17 18:25:11,2120-04-20 04:49:26,2120-04-23 02:59:18,2120-04-23 07:39:34,2120-04-26 23:27:01,2120-04-26 23:27:01,13 days 18:38:39
7531,2120-04-16 09:55:25,2120-04-18 04:24:22,2120-04-19 01:24:23,2120-04-21 08:10:57,2120-04-22 13:27:30,2120-04-22 18:06:32,2120-04-24 00:26:01,2120-04-24 00:26:01,7 days 14:30:36
7532,2120-04-22 18:58:08,2120-04-25 11:48:08,2120-04-26 04:41:49,2120-04-27 11:27:17,2120-04-28 20:58:29,2120-04-29 04:04:53,2120-05-01 04:06:21,2120-05-01 04:06:21,8 days 09:08:13
7533,2120-04-26 18:47:06,2120-04-29 11:35:07,2120-04-30 06:56:28,2120-05-03 12:32:02,2120-05-08 01:02:40,2120-05-14 19:28:34,2120-05-17 17:12:17,2120-05-17 17:12:17,20 days 22:25:11
7534,2120-04-28 21:52:49,2120-05-02 17:53:59,2120-05-04 09:27:03,2120-05-09 09:30:34,2120-05-12 22:16:22,2120-05-13 11:11:34,2120-05-15 23:45:47,2120-05-15 23:45:47,17 days 01:52:58
7535,2120-05-05 13:15:40,2120-05-06 21:05:24,2120-05-07 05:42:26,NaT,NaT,NaT,NaT,2120-05-07 05:42:26,1 days 16:26:46
7536,2120-05-14 00:04:43,2120-05-16 16:34:02,2120-05-17 10:02:32,2120-05-23 09:05:01,2120-05-25 03:38:54,2120-05-26 16:07:55,2120-05-28 15:18:55,2120-05-28 15:18:55,14 days 15:14:12
7537,2120-05-21 07:47:10,2120-05-24 17:47:35,2120-05-26 08:31:09,2120-05-29 09:48:45,2120-05-30 01:43:47,2120-06-06 22:00:01,2120-06-12 02:20:34,2120-06-12 02:20:34,21 days 18:33:24
7538,2120-05-26 03:36:14,2120-05-27 16:30:18,2120-05-29 11:07:41,2120-06-04 13:25:11,2120-06-05 10:24:27,2120-06-05 21:32:27,2120-06-09 10:00:23,2120-06-09 10:00:23,14 days 06:24:09
7539,2120-05-30 08:38:49,2120-05-31 19:56:33,2120-06-01 13:18:44,NaT,NaT,NaT,NaT,2120-06-01 13:18:44,2 days 04:39:55
7540,2120-06-04 14:42:54,2120-06-06 19:02:38,2120-06-07 12:35:32,2120-06-09 04:17:01,2120-06-15 21:16:07,2120-06-16 10:03:21,2120-06-18 07:43:25,2120-06-18 07:43:25,13 days 17:00:31
7541,2120-06-13 15:46:55,2120-06-15 12:24:27,2120-06-16 05:00:43,2120-06-18 20:23:30,2120-06-20 03:26:08,2120-06-21 13:53:01,2120-06-24 16:09:33,2120-06-24 16:09:33,11 days 00:22:38
7542,2120-06-14 02:23:32,2120-06-15 13:15:08,2120-06-16 23:37:52,2120-06-20 11:28:26,2120-06-22 15:18:44,2120-06-22 18:09:23,2120-06-26 18:10:45,2120-06-26 18:10:45,12 days 15:47:13
7543,2120-06-16 09:14:48,2120-06-18 06:12:26,2120-06-22 23:54:06,2120-06-24 13:08:53,2120-06-27 04:24:13,2120-06-27 07:09:23,2120-06-30 01:33:29,2120-06-30 01:33:29,13 days 16:18:41
7544,2120-06-21 14:37:21,2120-06-23 04:29:29,2120-06-24 00:03:29,2120-06-26 06:52:09,2120-06-28 04:06:45,2120-06-29 01:40:57,2120-06-29 01:40:57,2120-06-29 01:40:57,7 days 11:03:36
7545,2120-06-24 17:36:03,2120-06-25 11:13:57,2120-06-26 00:22:29,2120-06-28 04:06:45,2120-06-28 22:15:25,2120-06-28 22:55:12,2120-07-02 01:29:52,2120-07-02 01:29:52,7 days 07:53:49
7546,2120-07-01 11:45:11,2120-07-02 00:35:36,2120-07-03 22:47:22,2120-07-04 21:58:41,2120-07-05 03:37:20,2120-07-09 10:36:39,2120-07-11 13:00:03,2120-07-11 13:00:03,10 days 01:14:52
7547,2120-07-04 17:07:06,2120-07-06 16:22:39,2120-07-10 04:24:14,2120-07-13 20:46:17,2120-07-16 06:18:37,2120-07-21 23:42:12,2120-07-22 22:17:09,2120-07-22 22:17:09,18 days 05:10:03
7548,2120-07-05 15:10:16,2120-07-07 01:49:54,2120-07-07 06:34:03,NaT,NaT,NaT,NaT,2120-07-07 06:34:03,1 days 15:23:47
7549,2120-07-12 23:16:38,2120-07-14 22:42:16,2120-07-15 03:40:37,2120-07-19 05:39:32,2120-07-20 18:29:17,2120-07-22 03:43:02,2120-07-26 11:17:13,2120-07-26 11:17:13,13 days 12:00:35

In [17]:
max_length = df_sort['Count'].max()

In [20]:
df_case['Case Length'] = max_length-df_case.isnull().sum(axis=1)

In [21]:
df_case

Count,1,2,3,4,5,6,7,Max,Case Duration,Case Length
Case_ID,,,,,,,,,,
1,2016-04-15 08:41:28,2016-04-18 12:55:01,2016-04-19 07:22:59,2016-04-23 15:06:58,2016-04-24 19:18:32,2016-04-25 14:56:42,2016-04-26 10:00:36,2016-04-26 10:00:36,11 days 01:19:08,7
2,2016-04-18 20:40:14,2016-04-21 22:42:39,2016-04-24 01:29:27,2016-04-25 22:36:27,2016-04-27 16:12:28,2016-04-28 15:00:35,2016-05-01 18:32:18,2016-05-01 18:32:18,12 days 21:52:04,7
3,2016-04-27 01:45:07,2016-04-27 21:50:32,2016-04-29 00:12:15,2016-04-29 16:24:46,2016-04-30 22:57:03,2016-05-02 01:33:30,2016-05-02 11:06:53,2016-05-02 11:06:53,5 days 09:21:46,7
4,2016-05-02 08:38:34,2016-05-06 00:50:31,2016-05-06 17:56:11,2016-05-13 10:34:23,2016-05-13 13:56:10,2016-05-14 23:42:03,2016-05-17 14:02:28,2016-05-17 14:02:28,15 days 05:23:54,7
5,2016-05-09 07:17:12,2016-05-10 06:29:42,2016-05-11 05:04:34,NaT,NaT,NaT,NaT,2016-05-11 05:04:34,1 days 21:47:22,3
6,2016-05-08 07:01:29,2016-05-12 10:39:53,2016-05-14 06:07:39,2016-05-15 21:34:32,2016-05-18 03:47:00,2016-05-18 12:54:53,2016-05-20 01:23:09,2016-05-20 01:23:09,11 days 18:21:40,7
7,2016-05-18 21:19:05,2016-05-21 10:50:07,2016-05-22 09:40:30,NaT,NaT,NaT,NaT,2016-05-22 09:40:30,3 days 12:21:25,3
8,2016-05-21 18:49:58,2016-05-22 08:57:32,2016-05-23 23:04:51,2016-05-25 08:31:48,2016-05-28 08:43:24,2016-05-29 20:11:19,2016-06-01 08:27:22,2016-06-01 08:27:22,10 days 13:37:24,7
9,2016-05-29 16:46:13,2016-05-30 02:05:00,2016-05-31 02:34:15,2016-06-03 06:04:30,2016-06-04 02:42:51,2016-06-04 22:05:31,2016-06-08 23:33:40,2016-06-08 23:33:40,10 days 06:47:27,7
10,2016-05-31 19:59:50,2016-06-04 06:19:48,2016-06-05 00:42:28,NaT,NaT,NaT,NaT,2016-06-05 00:42:28,4 days 04:42:38,3
11,2016-06-06 05:43:44,2016-06-07 14:58:13,2016-06-08 14:28:05,2016-06-10 05:19:28,2016-06-11 06:01:56,2016-06-12 03:35:31,2016-06-14 12:45:25,2016-06-14 12:45:25,8 days 07:01:41,7
12,2016-06-06 19:37:08,2016-06-08 20:45:46,2016-06-13 08:05:54,2016-06-18 00:09:40,2016-06-18 12:59:16,2016-06-18 16:15:56,2016-06-21 13:57:48,2016-06-21 13:57:48,14 days 18:20:40,7
13,2016-06-10 18:22:15,2016-06-10 20:19:58,2016-06-14 03:25:14,2016-06-21 15:35:30,2016-06-21 21:48:11,2016-06-22 09:13:01,2016-06-25 11:56:40,2016-06-25 11:56:40,14 days 17:34:25,7
14,2016-06-19 04:21:11,2016-06-22 07:37:59,2016-06-23 01:11:03,2016-06-25 22:18:04,2016-06-27 02:49:17,2016-06-28 10:30:35,2016-06-30 16:52:31,2016-06-30 16:52:31,11 days 12:31:20,7
15,2016-06-26 22:18:28,2016-06-28 02:24:40,2016-06-29 09:28:04,2016-07-02 03:09:09,2016-07-04 19:48:17,2016-07-06 02:39:30,2016-07-08 06:11:05,2016-07-08 06:11:05,11 days 07:52:37,7
16,2016-07-03 15:25:12,2016-07-05 04:36:53,2016-07-06 07:25:28,2016-07-07 17:20:55,2016-07-08 13:30:44,2016-07-09 00:44:49,2016-07-13 06:41:30,2016-07-13 06:41:30,9 days 15:16:18,7
17,2016-07-09 22:55:51,2016-07-12 02:31:37,2016-07-12 12:06:10,2016-07-13 08:56:33,2016-07-13 20:36:13,2016-07-14 13:54:31,2016-07-15 17:42:42,2016-07-15 17:42:42,5 days 18:46:51,7
18,2016-07-09 02:31:42,2016-07-11 01:12:55,2016-07-14 18:46:18,NaT,NaT,NaT,NaT,2016-07-14 18:46:18,5 days 16:14:36,3
19,2016-07-14 18:46:18,2016-07-16 11:20:03,2016-07-18 07:03:18,2016-07-18 07:03:18,2016-07-24 08:56:13,2016-07-25 23:14:20,2016-07-27 18:08:34,2016-07-27 18:08:34,12 days 23:22:16,7
20,2016-07-21 04:22:41,2016-07-23 04:40:45,2016-07-23 11:48:45,NaT,NaT,NaT,NaT,2016-07-23 11:48:45,2 days 07:26:04,3
21,2016-07-28 22:56:42,2016-08-01 01:40:23,2016-08-01 23:57:40,2016-08-05 22:56:29,2016-08-06 09:27:43,2016-08-07 22:03:51,2016-08-10 00:15:14,2016-08-10 00:15:14,12 days 01:18:32,7
22,2016-08-02 09:26:41,2016-08-03 00:06:08,2016-08-03 09:13:15,2016-08-06 19:12:44,2016-08-08 17:07:18,2016-08-09 20:22:42,2016-08-12 12:16:32,2016-08-12 12:16:32,10 days 02:49:51,7
23,2016-08-03 10:41:46,2016-08-05 00:54:25,2016-08-05 11:21:15,2016-08-06 14:13:04,2016-08-07 20:13:29,2016-08-11 02:52:22,2016-08-11 10:58:04,2016-08-11 10:58:04,8 days 00:16:18,7
24,2016-08-13 18:33:56,2016-08-16 08:01:47,2016-08-16 19:33:45,2016-08-20 09:06:12,2016-08-22 01:22:21,2016-08-28 00:22:49,2016-08-28 19:48:08,2016-08-28 19:48:08,15 days 01:14:12,7
25,2016-08-20 06:08:44,2016-08-21 06:12:25,2016-08-22 00:34:08,2016-08-26 14:09:44,2016-08-26 18:33:09,2016-08-30 06:23:32,2016-09-02 05:36:32,2016-09-02 05:36:32,12 days 23:27:48,7
26,2016-08-21 02:27:04,2016-08-21 15:03:09,2016-08-22 19:47:41,2016-08-23 15:50:49,2016-08-25 02:11:15,2016-08-28 22:19:19,2016-08-31 01:12:09,2016-08-31 01:12:09,9 days 22:45:05,7
27,2016-08-28 03:57:02,2016-08-29 17:42:52,2016-08-30 02:09:02,2016-09-03 09:49:28,2016-09-06 09:02:14,2016-09-07 06:45:54,2016-09-08 09:11:55,2016-09-08 09:11:55,11 days 05:14:53,7
28,2016-09-04 09:24:26,2016-09-04 09:24:26,2016-09-05 02:19:33,2016-09-06 09:38:48,2016-09-06 14:46:45,2016-09-09 23:21:27,2016-09-13 12:48:54,2016-09-13 12:48:54,9 days 03:24:28,7
29,2016-09-09 14:43:50,2016-09-11 21:07:41,2016-09-15 20:19:51,NaT,NaT,NaT,NaT,2016-09-15 20:19:51,6 days 05:36:01,3
30,2016-09-15 09:00:23,2016-09-18 04:05:15,2016-09-19 10:17:59,2016-09-19 10:17:59,2016-09-19 21:00:42,2016-09-20 06:26:42,2016-09-21 09:16:54,2016-09-21 09:16:54,6 days 00:16:31,7
...,...,...,...,...,...,...,...,...,...,...
7520,2120-02-28 10:30:20,2120-02-29 23:18:42,2120-03-01 10:03:21,NaT,NaT,NaT,NaT,2120-03-01 10:03:21,1 days 23:33:01,3
7521,2120-03-06 05:12:13,2120-03-08 14:34:03,2120-03-10 05:49:32,2120-03-12 20:59:55,2120-03-15 20:27:44,2120-03-16 18:01:05,2120-03-20 05:06:36,2120-03-20 05:06:36,13 days 23:54:23,7
7522,2120-03-06 12:00:37,2120-03-10 09:59:28,2120-03-11 04:52:24,2120-03-14 14:23:51,2120-03-15 02:37:32,2120-03-15 19:27:20,2120-03-17 21:28:55,2120-03-17 21:28:55,11 days 09:28:18,7
7523,2120-03-11 09:11:08,2120-03-11 14:12:58,2120-03-13 01:43:28,NaT,NaT,NaT,NaT,2120-03-13 01:43:28,1 days 16:32:20,3
7524,2120-03-11 01:44:49,2120-03-12 06:24:17,2120-03-15 12:45:01,2120-03-18 12:58:50,2120-03-20 23:59:22,2120-03-21 22:48:35,2120-03-24 21:24:44,2120-03-24 21:24:44,13 days 19:39:55,7
7525,2120-03-21 06:33:11,2120-03-23 19:39:24,2120-03-23 22:29:48,2120-03-26 23:22:15,2120-03-28 03:06:28,2120-03-28 13:49:17,2120-03-31 15:37:52,2120-03-31 15:37:52,10 days 09:04:41,7
7526,2120-03-26 04:59:15,2120-03-27 17:03:03,2120-03-29 01:55:37,NaT,NaT,NaT,NaT,2120-03-29 01:55:37,2 days 20:56:22,3
7527,2120-04-01 21:57:23,2120-04-04 18:19:24,2120-04-06 17:48:22,2120-04-11 09:09:10,2120-04-13 19:52:50,2120-04-17 10:27:55,2120-04-20 11:08:51,2120-04-20 11:08:51,18 days 13:11:28,7
7528,2120-04-01 09:26:16,2120-04-02 13:05:58,2120-04-03 18:00:50,2120-04-06 20:45:43,2120-04-07 23:14:40,2120-04-08 01:50:35,2120-04-08 17:58:38,2120-04-08 17:58:38,7 days 08:32:22,7
7529,2120-04-08 06:51:04,2120-04-08 09:18:10,2120-04-08 21:44:22,2120-04-16 16:04:05,2120-04-17 18:11:29,2120-04-18 06:05:38,2120-04-22 03:23:17,2120-04-22 03:23:17,13 days 20:32:13,7
7530,2120-04-13 04:48:22,2120-04-15 18:23:36,2120-04-17 18:25:11,2120-04-20 04:49:26,2120-04-23 02:59:18,2120-04-23 07:39:34,2120-04-26 23:27:01,2120-04-26 23:27:01,13 days 18:38:39,7
7531,2120-04-16 09:55:25,2120-04-18 04:24:22,2120-04-19 01:24:23,2120-04-21 08:10:57,2120-04-22 13:27:30,2120-04-22 18:06:32,2120-04-24 00:26:01,2120-04-24 00:26:01,7 days 14:30:36,7
7532,2120-04-22 18:58:08,2120-04-25 11:48:08,2120-04-26 04:41:49,2120-04-27 11:27:17,2120-04-28 20:58:29,2120-04-29 04:04:53,2120-05-01 04:06:21,2120-05-01 04:06:21,8 days 09:08:13,7
7533,2120-04-26 18:47:06,2120-04-29 11:35:07,2120-04-30 06:56:28,2120-05-03 12:32:02,2120-05-08 01:02:40,2120-05-14 19:28:34,2120-05-17 17:12:17,2120-05-17 17:12:17,20 days 22:25:11,7
7534,2120-04-28 21:52:49,2120-05-02 17:53:59,2120-05-04 09:27:03,2120-05-09 09:30:34,2120-05-12 22:16:22,2120-05-13 11:11:34,2120-05-15 23:45:47,2120-05-15 23:45:47,17 days 01:52:58,7
7535,2120-05-05 13:15:40,2120-05-06 21:05:24,2120-05-07 05:42:26,NaT,NaT,NaT,NaT,2120-05-07 05:42:26,1 days 16:26:46,3
7536,2120-05-14 00:04:43,2120-05-16 16:34:02,2120-05-17 10:02:32,2120-05-23 09:05:01,2120-05-25 03:38:54,2120-05-26 16:07:55,2120-05-28 15:18:55,2120-05-28 15:18:55,14 days 15:14:12,7
7537,2120-05-21 07:47:10,2120-05-24 17:47:35,2120-05-26 08:31:09,2120-05-29 09:48:45,2120-05-30 01:43:47,2120-06-06 22:00:01,2120-06-12 02:20:34,2120-06-12 02:20:34,21 days 18:33:24,7
7538,2120-05-26 03:36:14,2120-05-27 16:30:18,2120-05-29 11:07:41,2120-06-04 13:25:11,2120-06-05 10:24:27,2120-06-05 21:32:27,2120-06-09 10:00:23,2120-06-09 10:00:23,14 days 06:24:09,7
7539,2120-05-30 08:38:49,2120-05-31 19:56:33,2120-06-01 13:18:44,NaT,NaT,NaT,NaT,2120-06-01 13:18:44,2 days 04:39:55,3
7540,2120-06-04 14:42:54,2120-06-06 19:02:38,2120-06-07 12:35:32,2120-06-09 04:17:01,2120-06-15 21:16:07,2120-06-16 10:03:21,2120-06-18 07:43:25,2120-06-18 07:43:25,13 days 17:00:31,7
7541,2120-06-13 15:46:55,2120-06-15 12:24:27,2120-06-16 05:00:43,2120-06-18 20:23:30,2120-06-20 03:26:08,2120-06-21 13:53:01,2120-06-24 16:09:33,2120-06-24 16:09:33,11 days 00:22:38,7
7542,2120-06-14 02:23:32,2120-06-15 13:15:08,2120-06-16 23:37:52,2120-06-20 11:28:26,2120-06-22 15:18:44,2120-06-22 18:09:23,2120-06-26 18:10:45,2120-06-26 18:10:45,12 days 15:47:13,7
7543,2120-06-16 09:14:48,2120-06-18 06:12:26,2120-06-22 23:54:06,2120-06-24 13:08:53,2120-06-27 04:24:13,2120-06-27 07:09:23,2120-06-30 01:33:29,2120-06-30 01:33:29,13 days 16:18:41,7
7544,2120-06-21 14:37:21,2120-06-23 04:29:29,2120-06-24 00:03:29,2120-06-26 06:52:09,2120-06-28 04:06:45,2120-06-29 01:40:57,2120-06-29 01:40:57,2120-06-29 01:40:57,7 days 11:03:36,7
7545,2120-06-24 17:36:03,2120-06-25 11:13:57,2120-06-26 00:22:29,2120-06-28 04:06:45,2120-06-28 22:15:25,2120-06-28 22:55:12,2120-07-02 01:29:52,2120-07-02 01:29:52,7 days 07:53:49,7
7546,2120-07-01 11:45:11,2120-07-02 00:35:36,2120-07-03 22:47:22,2120-07-04 21:58:41,2120-07-05 03:37:20,2120-07-09 10:36:39,2120-07-11 13:00:03,2120-07-11 13:00:03,10 days 01:14:52,7
7547,2120-07-04 17:07:06,2120-07-06 16:22:39,2120-07-10 04:24:14,2120-07-13 20:46:17,2120-07-16 06:18:37,2120-07-21 23:42:12,2120-07-22 22:17:09,2120-07-22 22:17:09,18 days 05:10:03,7
7548,2120-07-05 15:10:16,2120-07-07 01:49:54,2120-07-07 06:34:03,NaT,NaT,NaT,NaT,2120-07-07 06:34:03,1 days 15:23:47,3
7549,2120-07-12 23:16:38,2120-07-14 22:42:16,2120-07-15 03:40:37,2120-07-19 05:39:32,2120-07-20 18:29:17,2120-07-22 03:43:02,2120-07-26 11:17:13,2120-07-26 11:17:13,13 days 12:00:35,7

In [23]:
df_columns = df_sort['Count'].unique()
df_columns

array([1, 2, 3, 4, 5, 6, 7], dtype=int64)

In [24]:
df_case = df_case.drop(df_columns, axis=1)
df_case

Count                   Max    Case Duration  Case Length
Case_ID
1       2016-04-26 10:00:36 11 days 01:19:08            7
2       2016-05-01 18:32:18 12 days 21:52:04            7
3       2016-05-02 11:06:53  5 days 09:21:46            7
4       2016-05-17 14:02:28 15 days 05:23:54            7
5       2016-05-11 05:04:34  1 days 21:47:22            3
6       2016-05-20 01:23:09 11 days 18:21:40            7
7       2016-05-22 09:40:30  3 days 12:21:25            3
8       2016-06-01 08:27:22 10 days 13:37:24            7
9       2016-06-08 23:33:40 10 days 06:47:27            7
10      2016-06-05 00:42:28  4 days 04:42:38            3
11      2016-06-14 12:45:25  8 days 07:01:41            7
12      2016-06-21 13:57:48 14 days 18:20:40            7
13      2016-06-25 11:56:40 14 days 17:34:25            7
14      2016-06-30 16:52:31 11 days 12:31:20            7
15      2016-07-08 06:11:05 11 days 07:52:37            7
16      2016-07-13 06:41:30  9 days 15:16:18            7
17      2016-07-15 17:42:42  5 days 18:46:51            7
18      2016-07-14 18:46:18  5 days 16:14:36            3
19      2016-07-27 18:08:34 12 days 23:22:16            7
20      2016-07-23 11:48:45  2 days 07:26:04            3
21      2016-08-10 00:15:14 12 days 01:18:32            7
22      2016-08-12 12:16:32 10 days 02:49:51            7
23      2016-08-11 10:58:04  8 days 00:16:18            7
24      2016-08-28 19:48:08 15 days 01:14:12            7
25      2016-09-02 05:36:32 12 days 23:27:48            7
26      2016-08-31 01:12:09  9 days 22:45:05            7
27      2016-09-08 09:11:55 11 days 05:14:53            7
28      2016-09-13 12:48:54  9 days 03:24:28            7
29      2016-09-15 20:19:51  6 days 05:36:01            3
30      2016-09-21 09:16:54  6 days 00:16:31            7
...                     ...              ...          ...
7520    2120-03-01 10:03:21  1 days 23:33:01            3
7521    2120-03-20 05:06:36 13 days 23:54:23            7
7522    2120-03-17 21:28:55 11 days 09:28:18            7
7523    2120-03-13 01:43:28  1 days 16:32:20            3
7524    2120-03-24 21:24:44 13 days 19:39:55            7
7525    2120-03-31 15:37:52 10 days 09:04:41            7
7526    2120-03-29 01:55:37  2 days 20:56:22            3
7527    2120-04-20 11:08:51 18 days 13:11:28            7
7528    2120-04-08 17:58:38  7 days 08:32:22            7
7529    2120-04-22 03:23:17 13 days 20:32:13            7
7530    2120-04-26 23:27:01 13 days 18:38:39            7
7531    2120-04-24 00:26:01  7 days 14:30:36            7
7532    2120-05-01 04:06:21  8 days 09:08:13            7
7533    2120-05-17 17:12:17 20 days 22:25:11            7
7534    2120-05-15 23:45:47 17 days 01:52:58            7
7535    2120-05-07 05:42:26  1 days 16:26:46            3
7536    2120-05-28 15:18:55 14 days 15:14:12            7
7537    2120-06-12 02:20:34 21 days 18:33:24            7
7538    2120-06-09 10:00:23 14 days 06:24:09            7
7539    2120-06-01 13:18:44  2 days 04:39:55            3
7540    2120-06-18 07:43:25 13 days 17:00:31            7
7541    2120-06-24 16:09:33 11 days 00:22:38            7
7542    2120-06-26 18:10:45 12 days 15:47:13            7
7543    2120-06-30 01:33:29 13 days 16:18:41            7
7544    2120-06-29 01:40:57  7 days 11:03:36            7
7545    2120-07-02 01:29:52  7 days 07:53:49            7
7546    2120-07-11 13:00:03 10 days 01:14:52            7
7547    2120-07-22 22:17:09 18 days 05:10:03            7
7548    2120-07-07 06:34:03  1 days 15:23:47            3
7549    2120-07-26 11:17:13 13 days 12:00:35            7

[7549 rows x 3 columns]

In [31]:
df_pivot_3 = df_sort.copy()
df_pivot_3 = df_pivot_3.pivot(index='Case_ID', columns='Count', values='User')
df_pivot_3

Count     1   2   3    4    5    6    7
Case_ID
1        u2  u3  u5   u7   u7   u5   u2
2        u2  u4  u6   u5   u7   u7   u1
3        u2  u3  u5   u5   u8   u8   u2
4        u1  u3  u5   u5   u7   u8   u1
5        u1  u3  u2  NaN  NaN  NaN  NaN
6        u2  u4  u5   u6   u7   u7   u1
7        u1  u3  u1  NaN  NaN  NaN  NaN
8        u2  u4  u6   u5   u7   u7   u1
9        u1  u3  u5   u5   u7   u8   u1
10       u2  u4  u1  NaN  NaN  NaN  NaN
11       u1  u3  u6   u8   u7   u5   u1
12       u2  u3  u5   u8   u5   u7   u2
13       u1  u3  u5   u8   u7   u6   u2
14       u2  u3  u5   u6   u7   u8   u1
15       u1  u3  u5   u6   u8   u7   u1
16       u1  u3  u5   u7   u8   u5   u1
17       u1  u3  u5   u8   u6   u7   u2
18       u2  u3  u1  NaN  NaN  NaN  NaN
19       u1  u3  u5   u5   u7   u8   u2
20       u2  u3  u2  NaN  NaN  NaN  NaN
21       u2  u3  u5   u7   u6   u7   u2
22       u1  u3  u5   u8   u8   u6   u2
23       u2  u3  u5   u7   u8   u6   u1
24       u2  u3  u5   u5   u7   u8   u2
25       u2  u3  u5   u6   u8   u8   u1
26       u2  u3  u6   u5   u7   u8   u2
27       u2  u3  u5   u5   u8   u8   u1
28       u2  u3  u5   u7   u7   u6   u2
29       u2  u3  u2  NaN  NaN  NaN  NaN
30       u2  u3  u5   u8   u7   u6   u1
...      ..  ..  ..  ...  ...  ...  ...
7520     u2  u3  u1  NaN  NaN  NaN  NaN
7521     u1  u3  u5   u8   u7   u6   u1
7522     u2  u3  u5   u5   u7   u8   u1
7523     u2  u3  u1  NaN  NaN  NaN  NaN
7524     u1  u4  u5   u6   u7   u7   u1
7525     u1  u3  u5   u7   u7   u6   u2
7526     u1  u3  u2  NaN  NaN  NaN  NaN
7527     u2  u3  u5   u8   u6   u8   u1
7528     u1  u3  u5   u7   u6   u7   u1
7529     u2  u4  u5   u8   u7   u6   u1
7530     u2  u3  u5   u7   u8   u6   u2
7531     u2  u3  u5   u5   u8   u7   u2
7532     u1  u4  u5   u8   u8   u6   u1
7533     u1  u4  u5   u6   u8   u8   u1
7534     u2  u3  u6   u6   u8   u7   u1
7535     u2  u3  u2  NaN  NaN  NaN  NaN
7536     u2  u3  u5   u6   u8   u8   u2
7537     u1  u4  u5   u6   u8   u7   u1
7538     u1  u4  u5   u6   u7   u8   u1
7539     u2  u3  u1  NaN  NaN  NaN  NaN
7540     u2  u3  u5   u5   u8   u8   u1
7541     u1  u3  u5   u8   u6   u8   u1
7542     u1  u3  u6   u8   u6   u8   u1
7543     u2  u4  u6   u6   u8   u8   u1
7544     u1  u3  u5   u6   u7   u8   u2
7545     u2  u3  u5   u7   u7   u6   u1
7546     u2  u3  u6   u8   u7   u6   u2
7547     u2  u4  u6   u6   u7   u7   u1
7548     u1  u3  u2  NaN  NaN  NaN  NaN
7549     u2  u3  u5   u6   u7   u7   u2

[7549 rows x 7 columns]

In [32]:
def last_activity(a):
    if a.last_valid_index() is None:
        return np.nan
    else:
        return a[a.last_valid_index()]

In [33]:
df_pivot_3['Last User'] = df_pivot_3.apply(last_activity, axis=1)
df_pivot_3['First User'] = df_pivot_3[1]
df_pivot_3 = df_pivot_3.drop(df_columns,axis=1)
df_pivot_3

Count   Last User First User
Case_ID
1              u2         u2
2              u1         u2
3              u2         u2
4              u1         u1
5              u2         u1
6              u1         u2
7              u1         u1
8              u1         u2
9              u1         u1
10             u1         u2
11             u1         u1
12             u2         u2
13             u2         u1
14             u1         u2
15             u1         u1
16             u1         u1
17             u2         u1
18             u1         u2
19             u2         u1
20             u2         u2
21             u2         u2
22             u2         u1
23             u1         u2
24             u2         u2
25             u1         u2
26             u2         u2
27             u1         u2
28             u2         u2
29             u2         u2
30             u1         u2
...           ...        ...
7520           u1         u2
7521           u1         u1
7522           u1         u2
7523           u1         u2
7524           u1         u1
7525           u2         u1
7526           u2         u1
7527           u1         u2
7528           u1         u1
7529           u1         u2
7530           u2         u2
7531           u2         u2
7532           u1         u1
7533           u1         u1
7534           u1         u2
7535           u2         u2
7536           u2         u2
7537           u1         u1
7538           u1         u1
7539           u1         u2
7540           u1         u2
7541           u1         u1
7542           u1         u1
7543           u1         u2
7544           u2         u1
7545           u1         u2
7546           u2         u2
7547           u1         u2
7548           u2         u1
7549           u2         u2

[7549 rows x 2 columns]

In [34]:
df_case = df_case.drop(['Max'],axis=1)

In [35]:
df_pivot_4 = df_pivot.copy()
df_pivot_4 = df_pivot_4.reset_index()
df_pivot_4 = df_pivot_4[['Case_ID','Trace']]
df_pivot_4

Count  Case_ID                 Trace
0            1  u2,u3,u5,u7,u7,u5,u2
1            2  u2,u4,u6,u5,u7,u7,u1
2            3  u2,u3,u5,u5,u8,u8,u2
3            4  u1,u3,u5,u5,u7,u8,u1
4            5              u1,u3,u2
5            6  u2,u4,u5,u6,u7,u7,u1
6            7              u1,u3,u1
7            8  u2,u4,u6,u5,u7,u7,u1
8            9  u1,u3,u5,u5,u7,u8,u1
9           10              u2,u4,u1
10          11  u1,u3,u6,u8,u7,u5,u1
11          12  u2,u3,u5,u8,u5,u7,u2
12          13  u1,u3,u5,u8,u7,u6,u2
13          14  u2,u3,u5,u6,u7,u8,u1
14          15  u1,u3,u5,u6,u8,u7,u1
15          16  u1,u3,u5,u7,u8,u5,u1
16          17  u1,u3,u5,u8,u6,u7,u2
17          18              u2,u3,u1
18          19  u1,u3,u5,u5,u7,u8,u2
19          20              u2,u3,u2
20          21  u2,u3,u5,u7,u6,u7,u2
21          22  u1,u3,u5,u8,u8,u6,u2
22          23  u2,u3,u5,u7,u8,u6,u1
23          24  u2,u3,u5,u5,u7,u8,u2
24          25  u2,u3,u5,u6,u8,u8,u1
25          26  u2,u3,u6,u5,u7,u8,u2
26          27  u2,u3,u5,u5,u8,u8,u1
27          28  u2,u3,u5,u7,u7,u6,u2
28          29              u2,u3,u2
29          30  u2,u3,u5,u8,u7,u6,u1
...        ...                   ...
7519      7520              u2,u3,u1
7520      7521  u1,u3,u5,u8,u7,u6,u1
7521      7522  u2,u3,u5,u5,u7,u8,u1
7522      7523              u2,u3,u1
7523      7524  u1,u4,u5,u6,u7,u7,u1
7524      7525  u1,u3,u5,u7,u7,u6,u2
7525      7526              u1,u3,u2
7526      7527  u2,u3,u5,u8,u6,u8,u1
7527      7528  u1,u3,u5,u7,u6,u7,u1
7528      7529  u2,u4,u5,u8,u7,u6,u1
7529      7530  u2,u3,u5,u7,u8,u6,u2
7530      7531  u2,u3,u5,u5,u8,u7,u2
7531      7532  u1,u4,u5,u8,u8,u6,u1
7532      7533  u1,u4,u5,u6,u8,u8,u1
7533      7534  u2,u3,u6,u6,u8,u7,u1
7534      7535              u2,u3,u2
7535      7536  u2,u3,u5,u6,u8,u8,u2
7536      7537  u1,u4,u5,u6,u8,u7,u1
7537      7538  u1,u4,u5,u6,u7,u8,u1
7538      7539              u2,u3,u1
7539      7540  u2,u3,u5,u5,u8,u8,u1
7540      7541  u1,u3,u5,u8,u6,u8,u1
7541      7542  u1,u3,u6,u8,u6,u8,u1
7542      7543  u2,u4,u6,u6,u8,u8,u1
7543      7544  u1,u3,u5,u6,u7,u8,u2
7544      7545  u2,u3,u5,u7,u7,u6,u1
7545      7546  u2,u3,u6,u8,u7,u6,u2
7546      7547  u2,u4,u6,u6,u7,u7,u1
7547      7548              u1,u3,u2
7548      7549  u2,u3,u5,u6,u7,u7,u2

[7549 rows x 2 columns]

In [36]:
df_pivot_5 = df_pivot_3.merge(df_pivot_4, left_on='Case_ID', right_on='Case_ID', how='inner')

In [37]:
df_case_2 = df_pivot_5.merge(df_case, left_on='Case_ID', right_on='Case_ID', how='inner')
df_case_2.head()

Count,Case_ID,Last User,First User,Trace,Case Duration,Case Length
0,1,u2,u2,"u2,u3,u5,u7,u7,u5,u2",11 days 01:19:08,7
1,2,u1,u2,"u2,u4,u6,u5,u7,u7,u1",12 days 21:52:04,7
2,3,u2,u2,"u2,u3,u5,u5,u8,u8,u2",5 days 09:21:46,7
3,4,u1,u1,"u1,u3,u5,u5,u7,u8,u1",15 days 05:23:54,7
4,5,u2,u1,"u1,u3,u2",1 days 21:47:22,3

In [38]:
df_case_3 = df_case_2.merge(df_pivot_2, left_on='Trace', right_on='Trace', how='outer').sort_values(by='Case_ID')
df_case_3 = df_case_3[['Case_ID','Case Duration','Case Length','Variants','First User','Last User']]
df_case_3['Case Duration'] = df_case_3['Case Duration'].apply(lambda x: round(x.total_seconds(),0))
df_case_3.head()

Count  Case_ID  Case Duration  Case Length  Variants First User Last User
0            1       955148.0            7        83         u2        u2
24           2      1115524.0            7       304         u2        u1
27           3       465706.0            7        66         u2        u2
56           4      1315434.0            7        48         u1        u1
90           5       164842.0            3         4         u1        u2

In [39]:
df_case_3.to_csv('Case_2.csv', index=False)

In [40]:
#DF NODE
df_node = df.copy()
df_node = df_node[['Case_ID','Activity','Timestamp','User']]
df_node = df_node.sort_values(by=['Case_ID','Timestamp','Activity'],ascending=True).reset_index(drop=True)

df_node

       Case_ID Activity            Timestamp User
0            1        a  2016-04-15 08:41:28   u2
1            1        b  2016-04-18 12:55:01   u3
2            1        d  2016-04-19 07:22:59   u5
3            1        e  2016-04-23 15:06:58   u7
4            1        f  2016-04-24 19:18:32   u7
5            1        g  2016-04-25 14:56:42   u5
6            1        h  2016-04-26 10:00:36   u2
7            2        a  2016-04-18 20:40:14   u2
8            2        b  2016-04-21 22:42:39   u4
9            2        d  2016-04-24 01:29:27   u6
10           2        g  2016-04-25 22:36:27   u5
11           2        e  2016-04-27 16:12:28   u7
12           2        f  2016-04-28 15:00:35   u7
13           2        h  2016-05-01 18:32:18   u1
14           3        a  2016-04-27 01:45:07   u2
15           3        b  2016-04-27 21:50:32   u3
16           3        d  2016-04-29 00:12:15   u5
17           3        g  2016-04-29 16:24:46   u5
18           3        e  2016-04-30 22:57:03   u8
19           3        f  2016-05-02 01:33:30   u8
20           3        h  2016-05-02 11:06:53   u2
21           4        a  2016-05-02 08:38:34   u1
22           4        b  2016-05-06 00:50:31   u3
23           4        d  2016-05-06 17:56:11   u5
24           4        g  2016-05-13 10:34:23   u5
25           4        e  2016-05-13 13:56:10   u7
26           4        f  2016-05-14 23:42:03   u8
27           4        h  2016-05-17 14:02:28   u1
28           5        a  2016-05-09 07:17:12   u1
29           5        b  2016-05-10 06:29:42   u3
...        ...      ...                  ...  ...
45349     7545        b  2120-06-25 11:13:57   u3
45350     7545        d  2120-06-26 00:22:29   u5
45351     7545        e  2120-06-28 04:06:45   u7
45352     7545        f  2120-06-28 22:15:25   u7
45353     7545        g  2120-06-28 22:55:12   u6
45354     7545        h  2120-07-02 01:29:52   u1
45355     7546        a  2120-07-01 11:45:11   u2
45356     7546        b  2120-07-02 00:35:36   u3
45357     7546        d  2120-07-03 22:47:22   u6
45358     7546        e  2120-07-04 21:58:41   u8
45359     7546        f  2120-07-05 03:37:20   u7
45360     7546        g  2120-07-09 10:36:39   u6
45361     7546        h  2120-07-11 13:00:03   u2
45362     7547        a  2120-07-04 17:07:06   u2
45363     7547        b  2120-07-06 16:22:39   u4
45364     7547        d  2120-07-10 04:24:14   u6
45365     7547        g  2120-07-13 20:46:17   u6
45366     7547        e  2120-07-16 06:18:37   u7
45367     7547        f  2120-07-21 23:42:12   u7
45368     7547        h  2120-07-22 22:17:09   u1
45369     7548        a  2120-07-05 15:10:16   u1
45370     7548        b  2120-07-07 01:49:54   u3
45371     7548        c  2120-07-07 06:34:03   u2
45372     7549        a  2120-07-12 23:16:38   u2
45373     7549        b  2120-07-14 22:42:16   u3
45374     7549        d  2120-07-15 03:40:37   u5
45375     7549        g  2120-07-19 05:39:32   u6
45376     7549        e  2120-07-20 18:29:17   u7
45377     7549        f  2120-07-22 03:43:02   u7
45378     7549        h  2120-07-26 11:17:13   u2

[45379 rows x 4 columns]

In [45]:
sort1 = df_node.iloc[:-1,:]
sort2 = df_node.iloc[1:,:].reset_index(drop=True)
sort = pd.concat([sort1,sort2],axis=1)
sort.columns = ['Case_ID','Activity1','Timestamp1','Source','Case_ID2','Activity2','Timestamp2','Target']
sort['Comparison'] = sort.apply(lambda x: True if x['Case_ID'] == x['Case_ID2'] else False,axis=1)
sort = sort[sort['Comparison'] == True]
sort['Count'] = sort.groupby('Case_ID').cumcount() + 1
sort = sort.sort_values(by=['Case_ID','Count'], ascending=[True,False])
sort.reset_index(drop=True)
sort['Count_Reverse'] = sort.groupby('Case_ID').cumcount()+1
sort = sort.sort_values(by=['Case_ID', 'Count'], ascending=[True,False]).reset_index(drop=True)
sort['Start_Connect'] = sort['Count'].apply(lambda x: 'Start' if x==1 else '')
sort['End_Connect'] = sort['Count_Reverse'].apply(lambda x: 'End' if x==1 else '')

sort['Timestamp1'] = pd.to_datetime(sort['Timestamp1'])
sort['Timestamp2'] = pd.to_datetime(sort['Timestamp2'])
sort['Duration'] = sort['Timestamp1'] - sort['Timestamp2']
sort['Duration'] = sort['Duration'].apply(lambda x: round(x.total_seconds(),0))

sort

,Case_ID,Activity1,Timestamp1,Source,Case_ID2,Activity2,Timestamp2,Target,Comparison,Count,Count_Reverse,Start_Connect,End_Connect,Duration
0,1,g,2016-04-25 14:56:42,u5,1,h,2016-04-26 10:00:36,u2,True,6,1,,End,-68634.0
1,1,f,2016-04-24 19:18:32,u7,1,g,2016-04-25 14:56:42,u5,True,5,2,,,-70690.0
2,1,e,2016-04-23 15:06:58,u7,1,f,2016-04-24 19:18:32,u7,True,4,3,,,-101494.0
3,1,d,2016-04-19 07:22:59,u5,1,e,2016-04-23 15:06:58,u7,True,3,4,,,-373439.0
4,1,b,2016-04-18 12:55:01,u3,1,d,2016-04-19 07:22:59,u5,True,2,5,,,-66478.0
5,1,a,2016-04-15 08:41:28,u2,1,b,2016-04-18 12:55:01,u3,True,1,6,Start,,-274413.0
6,2,f,2016-04-28 15:00:35,u7,2,h,2016-05-01 18:32:18,u1,True,6,1,,End,-271903.0
7,2,e,2016-04-27 16:12:28,u7,2,f,2016-04-28 15:00:35,u7,True,5,2,,,-82087.0
8,2,g,2016-04-25 22:36:27,u5,2,e,2016-04-27 16:12:28,u7,True,4,3,,,-149761.0
9,2,d,2016-04-24 01:29:27,u6,2,g,2016-04-25 22:36:27,u5,True,3,4,,,-162420.0
10,2,b,2016-04-21 22:42:39,u4,2,d,2016-04-24 01:29:27,u6,True,2,5,,,-182808.0
11,2,a,2016-04-18 20:40:14,u2,2,b,2016-04-21 22:42:39,u4,True,1,6,Start,,-266545.0
12,3,f,2016-05-02 01:33:30,u8,3,h,2016-05-02 11:06:53,u2,True,6,1,,End,-34403.0
13,3,e,2016-04-30 22:57:03,u8,3,f,2016-05-02 01:33:30,u8,True,5,2,,,-95787.0
14,3,g,2016-04-29 16:24:46,u5,3,e,2016-04-30 22:57:03,u8,True,4,3,,,-109937.0
15,3,d,2016-04-29 00:12:15,u5,3,g,2016-04-29 16:24:46,u5,True,3,4,,,-58351.0
16,3,b,2016-04-27 21:50:32,u3,3,d,2016-04-29 00:12:15,u5,True,2,5,,,-94903.0
17,3,a,2016-04-27 01:45:07,u2,3,b,2016-04-27 21:50:32,u3,True,1,6,Start,,-72325.0
18,4,f,2016-05-14 23:42:03,u8,4,h,2016-05-17 14:02:28,u1,True,6,1,,End,-224425.0
19,4,e,2016-05-13 13:56:10,u7,4,f,2016-05-14 23:42:03,u8,True,5,2,,,-121553.0
20,4,g,2016-05-13 10:34:23,u5,4,e,2016-05-13 13:56:10,u7,True,4,3,,,-12107.0
21,4,d,2016-05-06 17:56:11,u5,4,g,2016-05-13 10:34:23,u5,True,3,4,,,-578292.0
22,4,b,2016-05-06 00:50:31,u3,4,d,2016-05-06 17:56:11,u5,True,2,5,,,-61540.0
23,4,a,2016-05-02 08:38:34,u1,4,b,2016-05-06 00:50:31,u3,True,1,6,Start,,-317517.0
24,5,b,2016-05-10 06:29:42,u3,5,c,2016-05-11 05:04:34,u2,True,2,1,,End,-81292.0
25,5,a,2016-05-09 07:17:12,u1,5,b,2016-05-10 06:29:42,u3,True,1,2,Start,,-83550.0
26,6,f,2016-05-18 12:54:53,u7,6,h,2016-05-20 01:23:09,u1,True,6,1,,End,-131296.0
27,6,e,2016-05-18 03:47:00,u7,6,f,2016-05-18 12:54:53,u7,True,5,2,,,-32873.0
28,6,g,2016-05-15 21:34:32,u6,6,e,2016-05-18 03:47:00,u7,True,4,3,,,-195148.0
29,6,d,2016-05-14 06:07:39,u5,6,g,2016-05-15 21:34:32,u6,True,3,4,,,-142013.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37800,7544,g,2120-06-26 06:52:09,u6,7544,e,2120-06-28 04:06:45,u7,True,4,3,,,-162876.0
37801,7544,d,2120-06-24 00:03:29,u5,7544,g,2120-06-26 06:52:09,u6,True,3,4,,,-197320.0
37802,7544,b,2120-06-23 04:29:29,u3,7544,d,2120-06-24 00:03:29,u5,True,2,5,,,-70440.0
37803,7544,a,2120-06-21 14:37:21,u1,7544,b,2120-06-23 04:29:29,u3,True,1,6,Start,,-136328.0
37804,7545,g,2120-06-28 22:55:12,u6,7545,h,2120-07-02 01:29:52,u1,True,6,1,,End,-268480.0
37805,7545,f,2120-06-28 22:15:25,u7,7545,g,2120-06-28 22:55:12,u6,True,5,2,,,-2387.0
37806,7545,e,2120-06-28 04:06:45,u7,7545,f,2120-06-28 22:15:25,u7,True,4,3,,,-65320.0
37807,7545,d,2120-06-26 00:22:29,u5,7545,e,2120-06-28 04:06:45,u7,True,3,4,,,-186256.0
37808,7545,b,2120-06-25 11:13:57,u3,7545,d,2120-06-26 00:22:29,u5,True,2,5,,,-47312.0
37809,7545,a,2120-06-24 17:36:03,u2,7545,b,2120-06-25 11:13:57,u3,True,1,6,Start,,-63474.0
37810,7546,g,2120-07-09 10:36:39,u6,7546,h,2120-07-11 13:00:03,u2,True,6,1,,End,-181404.0
37811,7546,f,2120-07-05 03:37:20,u7,7546,g,2120-07-09 10:36:39,u6,True,5,2,,,-370759.0
37812,7546,e,2120-07-04 21:58:41,u8,7546,f,2120-07-05 03:37:20,u7,True,4,3,,,-20319.0
37813,7546,d,2120-07-03 22:47:22,u6,7546,e,2120-07-04 21:58:41,u8,True,3,4,,,-83479.0
37814,7546,b,2120-07-02 00:35:36,u3,7546,d,2120-07-03 22:47:22,u6,True,2,5,,,-166306.0
37815,7546,a,2120-07-01 11:45:11,u2,7546,b,2120-07-02 00:35:36,u3,True,1,6,Start,,-46225.0
37816,7547,f,2120-07-21 23:42:12,u7,7547,h,2120-07-22 22:17:09,u1,True,6,1,,End,-81297.0
37817,7547,e,2120-07-16 06:18:37,u7,7547,f,2120-07-21 23:42:12,u7,True,5,2,,,-494615.0
37818,7547,g,2120-07-13 20:46:17,u6,7547,e,2120-07-16 06:18:37,u7,True,4,3,,,-207140.0
37819,7547,d,2120-07-10 04:24:14,u6,7547,g,2120-07-13 20:46:17,u6,True,3,4,,,-318123.0
37820,7547,b,2120-07-06 16:22:39,u4,7547,d,2120-07-10 04:24:14,u6,True,2,5,,,-302495.0
37821,7547,a,2120-07-04 17:07:06,u2,7547,b,2120-07-06 16:22:39,u4,True,1,6,Start,,-170133.0
37822,7548,b,2120-07-07 01:49:54,u3,7548,c,2120-07-07 06:34:03,u2,True,2,1,,End,-17049.0
37823,7548,a,2120-07-05 15:10:16,u1,7548,b,2120-07-07 01:49:54,u3,True,1,2,Start,,-124778.0
37824,7549,f,2120-07-22 03:43:02,u7,7549,h,2120-07-26 11:17:13,u2,True,6,1,,End,-372851.0
37825,7549,e,2120-07-20 18:29:17,u7,7549,f,2120-07-22 03:43:02,u7,True,5,2,,,-119625.0
37826,7549,g,2120-07-19 05:39:32,u6,7549,e,2120-07-20 18:29:17,u7,True,4,3,,,-132585.0
37827,7549,d,2120-07-15 03:40:37,u5,7549,g,2120-07-19 05:39:32,u6,True,3,4,,,-352735.0
37828,7549,b,2120-07-14 22:42:16,u3,7549,d,2120-07-15 03:40:37,u5,True,2,5,,,-17901.0
37829,7549,a,2120-07-12 23:16:38,u2,7549,b,2120-07-14 22:42:16,u3,True,1,6,Start,,-170738.0

In [46]:
sort.to_csv('Node_2.csv', index=False)